[2017-03-12 16:45] faruktoptas opened #1 "Wrong focus position if root view is fitsSystemWindows enabled"

[2017-03-12 16:47] faruktoptas opened #2 "Adding APK file for the latest release"

[2017-03-12 17:16] faruktoptas opened #3 "Focus a specific position (x, y, r)"
Focusing on a view is possible now. But focusing a specific position will be useful.

[2017-03-13 07:15] faruktoptas opened #4 "Supporting rounded rectangle focus"

[2017-03-13 07:17] faruktoptas opened #5 "Adding border to focus circle"
Border width, and color may be builder parameters.

[2017-03-13 07:21] faruktoptas opened #6 "Animating focus circle"

[2017-03-13 13:00] faruktoptas opened #7 "Accessing mContainer view via mFancyShowCaseView.getView() method"

[2017-03-13 13:02] faruktoptas opened #8 "Accessing focus circle position and radius parameters (x, y, r)"
Public `getFocusPosition()` and `getFocusRadius()` that should be defined

[2017-03-13 14:15] faruktoptas opened #9 "Adding robolectric unit tests"

[2017-03-13 14:17] faruktoptas opened #10 "codecov integration"

[2017-03-13 14:19] faruktoptas opened #11 "Updating README.md"
- Explain all Builder parameters in README.md
- Add more examples with screenshots

[2017-03-13 15:49] #1 closed

[2017-03-14 10:57] faruktoptas opened #12 "Hide on backPress"

[2017-03-15 05:55] #6 closed

[2017-03-15 09:34] yerenutku opened #13 "Media files removed from project files"
Gif
![fancyshowcase](https://cloud.githubusercontent.com/assets/8283200/23941893/8fb92934-097b-11e7-9626-2c4b2d15b8ca.gif)

[2017-03-15 10:02] #13 closed

[2017-03-20 00:53] eanurag commented on #7
`mFancyShowCaseView.getView()` is supposed to return `mView`, which is the view to focus. `mContainer` is the FrameLayout used for FancyShowCaseView. Why would you want to access `mContainer` from `mView` ?

[2017-03-20 06:28] faruktoptas commented on #7
You are right. `mFancyShowCaseView.getContainerView()` would be better.

[2017-03-20 11:32] faruktoptas opened #15 "Focusing wrong position on Android 4.x devices"

[2017-03-20 20:09] eanurag commented on #12
There is already a `hide()` in `FancyShowCaseView`. Shouldn't the responsibility of calling `hide()` be delegated to the caller Activity's `onBackPressed()`?

[2017-03-21 06:09] #7 closed

[2017-03-21 06:16] faruktoptas commented on #12
Yes it can be like that. But if an `Activity` has multiple instances of `FancyShowCaseView`. Each of them should be handled in `onBackPressed()`. Assume that a static method `FancyShowCaseView.isVisible() `can check if any instance is visible, then `FancyShowCaseView.hide() `method hides the currently visible instance. This is an approach, we can choose a better one.

[2017-03-22 15:30] faruktoptas commented on #4
In progress

[2017-03-26 03:48] kratikagoyel commented on #8
I believe that these public methods need to be added to /library/src/main/java/me/toptas/fancyshowcase/FancyShowCaseView.java. Kindly correct me if I am wrong.

[2017-03-26 09:57] #4 closed

[2017-03-26 09:57] #15 closed

[2017-03-26 10:29] faruktoptas commented on #8
@kratikagoyel Yes you are right. But I think there should be a method named `hasFocus()` Because focus view is not mandatory. And don't forget to get the latest version of source. I've just released `0.0.4`

[2017-03-26 12:20] faruktoptas commented on #13
![fancy_0 0 4_1](https://cloud.githubusercontent.com/assets/1595227/24331187/ad143b80-1237-11e7-919c-36111c1ce559.gif)
![fancy_0 0 4_2](https://cloud.githubusercontent.com/assets/1595227/24331189/afec8d9e-1237-11e7-986d-0ab7c44db7c7.gif)

[2017-03-26 19:39] MFlisar opened #17 "Chaining show case views"
Is this possible? There is no listener for on showcase closed (only for the animation).

Would be nice to have at least a callback which can be setup via the builder

[2017-03-26 19:39] MFlisar opened #18 "Reset showOnce"
It would be nice to support resetting of the `showOnce` flag, indiviually and all at once

[2017-03-26 19:44] faruktoptas commented on #17
It is possible if you set your own enter/exit animations. But if you use default animations it is not possible for now.
It can be implemented easily. I'm open to contributions :)

[2017-03-26 19:45] faruktoptas commented on #18
I will try to implement in the next release.

[2017-03-26 19:55] MFlisar commented on #17
Already done ;-)

[2017-03-26 19:56] MFlisar commented on #18
it's part of my pull request as well

[2017-03-26 20:02] MFlisar commented on #17
I would make a simple `FancyShowCaseQueue` like following:

    new FancyShowCaseQueue()
        .add(FancyShowCaseView1)
        .add(FancyShowCaseView2)
        .add(FancyShowCaseView3)
        .show();

Internally I would set or wrap the `DismissListener` and show the `FancyShowCaseViews` one after another. Or do you prefer something else?

[2017-03-26 20:09] faruktoptas commented on #17
I think this approach is ok. Creating a simple queue will solve this. This is a common usage.

[2017-03-26 20:12] MFlisar commented on #17
I'll add this tomorrow to my pull request...

[2017-03-26 20:15] MFlisar opened #20 "Overlapping focus view and title"
I think it would make sense to add some logic to avoid this...

The text should be placed in the biggest remaining space on the screen by default imho...

[2017-03-26 21:44] faruktoptas commented on #20
You can specify a `GRAVITY` for title with Builder param `titleStyle(@StyleRes int style, int titleGravity)`. But there should be a better way.

[2017-03-27 11:10] kratikagoyel commented on #8
@faruktoptas I will pick it up, kindly assign the issue to me.

[2017-03-27 13:59] faruktoptas commented on #8
Thanks @kratikagoyel
Creating a pull request is enough. Please don't forget to push your commits to `dev` branch.

[2017-03-27 14:07] faruktoptas commented on #8
Pleas don't forget rounded rectangle shape. It doesn't have a radius.

[2017-03-27 15:36] faruktoptas commented on #3
`centerX, centerY, radius` for` FocusShape.CIRCLE`
`left, top, width, height` for `FocusShape.ROUNDED_RECTANGLE`

[2017-03-27 18:48] #18 closed

[2017-03-27 18:49] #17 closed

[2017-03-28 18:53] MFlisar commented on #20
I think, gravity is not enough. I.e. I want to show one text on top (but not overlap my statusbar) and one at the bottom, so I would need to define some padding/margin for this.

I think some smart placement would be really nice, with a logic like following:
* search for the biggest free rectangular space
* center text in this space + allow to define a padding

What do you think about that?

[2017-03-28 19:12] faruktoptas commented on #20
Changing the  gravity parameter is a todo in my mind. This approach is ok to me. Due to the device orientation,  title  may be on top, bottom, left and the right side.

[2017-03-30 03:27] kratikagoyel commented on #8
@faruktoptas What should the behavior of `getRadius()` (and the functions for accessing `centerX` & `centerY`)  in case of rounded rectangle shape. Should we return -1 if the focus shape is `ROUNDED_RECTANGLE` ?

[2017-03-30 05:44] faruktoptas commented on #8
For Circle:
* `mCenterX`
* `mCenterY`
* `mRadius`
* `mWidth`
* `mHeight`
* `mTop`
* `mLeft`

For Rounded Rect:
* `mCenterX`
* `mCenterY`
* `mWidth`
* `mHeight`
* `mTop`
* `mLeft`
* `mRadius` should return -1

[2017-03-31 18:53] #12 closed

[2017-04-01 07:17] hfahmy opened #25 "Doesn't work with BottomSheetDialogFragment"
Doesn't work with [BottomSheetDialogFragment](https://developer.android.com/reference/android/support/design/widget/BottomSheetDialogFragment.html).

The ShowCaseView gets drawn behind the bottom sheet. Any quick workarounds?

[2017-04-01 12:15] faruktoptas commented on #25
I'm trying to reproduce it.

[2017-04-01 12:46] faruktoptas commented on #25
It seems that BottomSheetDialogFragment creates a new half transparent Activity. So FancyShowCaseView stays on the first activity.

[2017-04-01 13:04] hfahmy commented on #25
Yup, that's right. I check the view hierarchy; its a new activity. Anyway to get around this?

[2017-04-01 13:14] faruktoptas commented on #25
I think it is `Dialog` behaviour. All dialogs (AlertDialog etc.) appear on top of everything. If you use default BottomSheet implementation (not BottomSheetDialogFragment) it will work.
Please see https://medium.com/@emrullahluleci/android-bottom-sheet-30284293f066 for implementation.

[2017-04-01 13:33] faruktoptas opened #27 "FancyShowCaseView should be extended from FrameLayout"

[2017-04-01 18:04] #5 closed

[2017-04-05 10:25] daboome commented on #9
Do you imply that robolecric unit test should be added to sample application?

[2017-04-05 10:29] faruktoptas commented on #9
It should be in library not sample.

[2017-04-05 10:30] faruktoptas commented on #9
You can check this: https://github.com/sjwall/MaterialTapTargetPrompt/blob/master/library/src/test/java/uk/co/samuelwall/materialtaptargetprompt/MaterialTapTargetPromptUnitTest.java

[2017-04-06 10:35] vipulasri opened #30 "Wrong position of focus"
Wrong position of focus.

![screenshot_20170406-160145](https://cloud.githubusercontent.com/assets/7822179/24749902/7652dfd0-1ae2-11e7-9e98-d121d8a3e3ea.png)

[2017-04-06 10:39] vipulasri commented on #30
this can be solved using `.fitSystemWindows(true)`

[2017-04-06 10:39] #30 closed

[2017-04-06 15:02] faruktoptas commented on #13
![screen shot 2017-04-06 at 18 03 57](https://cloud.githubusercontent.com/assets/1595227/24761139/38a1d324-1af3-11e7-8d7c-5bef3a7acc55.png)

[2017-04-07 06:01] faruktoptas commented on #8
@kratikagoyel are you working on this issue? @turbolay created a pull request for this.

[2017-04-07 06:08] turbolay commented on #8
I saw the the issue hadn't move during 8 days so I imagined nobody was working for this! Hope it was the case!

[2017-04-07 19:05] ForestTree opened #32 "android:allowBackup="true" in library's manifest file"
Please remove this attribute from library's manifest file, it's unusual. This causes a merging error when the application has it set to false.

[2017-04-07 19:10] faruktoptas commented on #32
Thank you. I will remove it asap.

[2017-04-07 19:21] ForestTree commented on #32
Thank you!

[2017-04-07 20:19] faruktoptas commented on #32
Fixed

[2017-04-07 20:19] #32 closed

[2017-04-07 20:36] faruktoptas commented on #32
@ForestTree you can use version `0.0.6`. It's just been released :)

[2017-04-07 20:45] faruktoptas commented on #25
Dialogs are not supported yet because its behaviour.

[2017-04-07 20:45] #25 closed

[2017-04-10 09:53] vipulasri opened #33 "FancyShowCaseView with recyclerview item"
How to show FancyShowCaseView with `RecyclerView` item?

[2017-04-10 10:32] faruktoptas commented on #33
Get the reference of the view that you want to focus. Then use:
[code]

[2017-04-10 10:43] faruktoptas commented on #33
I added a sample:
https://github.com/faruktoptas/FancyShowCaseView/blob/dev/app/src/main/java/me/toptas/fancyshowcasesample/RecyclerViewActivity.java

[2017-04-10 10:43] #33 closed

[2017-04-12 07:07] daboome commented on #9
I took a look on the related library you provided. All fields of that library are made package local, so that the library code is testable within library package. Should I do the same (i.e. changing all private fields to package local) for the sake of testing?

[2017-04-12 07:21] faruktoptas commented on #9
Sure. Tests may be in the same module.

[2017-04-13 07:52] wengelef opened #34 "Flag to disable Focus animation"
The animation on the focus is nice, but probably more often than not, i don't want that and have
a static focus instead.
A flag to disable it on the Builder would be nice.

[2017-04-13 07:55] faruktoptas commented on #34
Do you mean disabling the focus animation with a parameter in Builder?

[2017-04-13 07:55] wengelef commented on #34
yub!

[2017-04-13 07:59] faruktoptas commented on #34
You are right. Focus animation should be optional.

[2017-04-13 23:21] goanpixie commented on #11
Hi..I want to work on the issue! I am first time contributor and would appreciate a little help starting up.

[2017-04-14 06:31] faruktoptas commented on #11
Thank you :)
You can start from explaining all Builder methods in readme.md

[2017-04-14 06:31] faruktoptas commented on #11
Let me know if you need help.

[2017-04-14 12:58] adnxy opened #37 "Focus not working with constraint layout"
Hey Faruk, I'm trying to implement your lib with dagger and constraint layout.

[code]

Full size of screen is in focus all the time, can not focus on button or any other view.Can you help?
Thanks

[2017-04-14 14:28] faruktoptas commented on #37
`Width` and `height` of login may be 0 in `onViewCreated()` So you should use:
[code]

And please be sure that `login` is not null.

[2017-04-17 10:34] #34 closed

[2017-04-17 10:34] faruktoptas commented on #37
Did it work?

[2017-04-18 17:35] Grrlie commented on #2
I'd like to work on this.  Can you tell me if the apk needs to be signed?

[2017-04-18 17:42] faruktoptas commented on #2
Yes it should be signed. You can create a keystore file.

[2017-04-18 22:08] Grrlie commented on #2
Okay, I added the apk and put in a pull request.  Please let me know if there is something I can improve about the process. I'm completely new to this.

[2017-04-22 19:45] #37 closed

[2017-04-27 08:50] #3 closed

[2017-04-28 18:28] #27 closed

[2017-05-02 15:17] saurabhdhillon opened #39 "Unable to import the library into gradle"
used this in root:
maven { url 'https://jitpack.io' }

used this in project gradle:
compile 'com.github.faruktoptas:FancyShowCaseView:0.1.0'

[2017-05-02 15:27] faruktoptas commented on #39
Did you add maven { url 'https://jitpack.io' } to the project level Gradle or app level Gradle?

[2017-05-02 15:32] saurabhdhillon commented on #39
@faruktoptas added it to project level gradle
buildscript {
    repositories {
        jcenter()
        maven { url 'https://maven.fabric.io/public' }
        maven { url 'https://jitpack.io' }
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.3.0'
        classpath 'com.google.gms:google-services:3.0.0'
        classpath 'io.fabric.tools:gradle:1.+'
        classpath "

[2017-05-02 19:28] saurabhdhillon commented on #39
Hey @faruktoptas , thanks for the help.
I got mine corrected by shifting maven { url 'https://jitpack.io' } to
allprojects {
    repositories {
        jcenter()
        maven { url "https://jitpack.io"}
    }
}

instead of the previous.

[2017-05-02 19:39] faruktoptas commented on #39
You welcome :)

[2017-05-02 19:39] #39 closed

[2017-05-04 07:50] gcrescent opened #40 "Add onclicklistener on focus view"
I want user can click the view the showcase is focusing. Is that possible?

[2017-05-04 08:33] faruktoptas commented on #40
Yes it is possible by adding `closeOnTouch(false)` to builder params.

[code]

If you want to hide FancyShowCaseView when you click the focused view. You can use:

[code]

[2017-05-04 08:33] #40 closed

[2017-05-04 09:14] gcrescent commented on #40
But I need the closeOnTouch behaviour too. I don't want to force user to click the focused view, but if they clicked on it, they will trigger the view onClick event

[2017-05-04 10:01] faruktoptas commented on #40
You want 2 different click behaviours on a single view. This is possible with a tricky workaround.
* Add a custom view should into FancyShowCaseView.
* Define a touch listener and get the position of touch.
* If position is in the focused circle, perform click otherwise hide FancyShowCaseView.

Focus position is not public yet. But there is an open pull request #31 about this.
You should calculate

[2017-05-09 09:27] wengelef opened #41 "Add abort/cancel method to FancyShowCaseQueue"
I used to call `FancyShowCaseView.hideCurrent(activity)` to hide a whole FancyShowCaseQueue of an Activity.
This doesn't seem to work anymore as it only closes the currently displayed FancyShowCaseView inside the Queue.

Is the current behavior a bug or intended? If it's intended, i think FancyShowCaseQueue should also
have a hideCurrent Method. Or is there already a way to accomplish that?

[2017-05-09 09:32] faruktoptas commented on #41
`FancyShowCaseView.hideCurrent(activity)` hides the currently visible `FancyShowCaseView` instance. This is the intended behaviour.

FancyShowCaseQueue needs an abort/cancel method to stop showing the next `FancyShowCaseView` instance.

[2017-05-14 17:09] spencermwatts commented on #30
Thanks, @vipulasri ! How did you find the solution to this?

[2017-05-14 17:17] spencermwatts commented on #37
Worked for me. Thanks, Faruk.

[2017-05-15 05:55] faruktoptas commented on #30
@spencermwatts There is no problem with CoordinatorLayout. If your root layout has `android:fitsSystemWindows="true"` then you need to add `.fitSystemWindows(true)` to `FancyShowCaseView` builder params.

[2017-05-17 11:55] lanetteamtapan opened #42 "how to show in fragment ?"
i checked the code it seems library is finding views from an activity only . how can i display in fragment ?

[2017-05-17 12:27] faruktoptas commented on #42
You can use in fragments. Just use `new FancyShowCaseView.Builder(getActivity())`

[2017-05-24 09:38] gsy450896356 commented on #42
The location in the fragment is not correct, higher than the normal position

[2017-05-24 09:55] faruktoptas commented on #42
If your root layout has `android:fitsSystemWindows="true"` then you need to add `.fitSystemWindows(true)` to `FancyShowCaseView` builder params.

[2017-05-25 00:51] gsy450896356 commented on #42
Thanks

[2017-05-25 04:28] #42 closed

[2017-05-28 08:18] faruktoptas opened #44 "Prevent too big focus views to overflow screen"

[2017-06-07 11:26] nagot21 opened #45 "Views that are not on focus on .closeOnTouch(false) are still clickable"
Heya,

I've notice that when you are using a view as a focus with closeOnTouch set as false the other views, for instance a button, below the overlay are still clickable.

Is there a way to go around it?

Cheers!

[2017-06-07 11:55] faruktoptas commented on #45
Hi,

If you set `closeOnTouch(false)` it will be `setClickable(false)`. So below overlay is still clickable.
It should be `setClickable(true)` by default. And `closeOnTouch` should assign a `null` click listener.

I will fix asap with the next release

Thanks

[2017-06-08 09:38] nagot21 commented on #41
@wengelef, you can emulate this function by inserting all FancyShowCaseView you've got in a List. Then just create an cancel button that will call FancyShowCaseView.hide() and then clear your List.

Also keep in mind that if you are emulating FancyShowCaseQueue behavior with a List you have to use a handler to give some delay between transitions otherwise it won't work.

[2017-06-08 12:45] wengelef commented on #41
@nagot21 thanks i'm aware of that. I don't really want to emulate anything and this sounds like smelly code to me.

Maybe i will have time at the weekend to file a PR, it it isn't already in progress.

[2017-06-08 14:39] nagot21 commented on #41
@wengelef

Yes, I think it's in progress. But if have just can't wait for an update that's the only solution so far =/
I hope this new function is available in the next release.

[2017-06-08 14:49] faruktoptas commented on #41
It's not in progress. I haven't started yet.

[2017-06-08 14:57] faruktoptas commented on #41
@nagot21 do you need this feature urgently?

[2017-06-08 15:08] nagot21 commented on #41
@faruktoptas
Would be nice if you could but no pressure at all! As I said before I kinda made an workaround to make it work.

[2017-06-12 14:45] #41 closed

[2017-06-12 14:45] #45 closed

[2017-06-13 05:39] Anirudh257 commented on #44
Hey, I think I can work on this issue

[2017-06-13 06:03] faruktoptas commented on #44
Ok. This issue is assigned to you. Thanks

[2017-06-23 09:22] nagot21 opened #46 "Click on view in focus"
Hey guys, quick question.

Is it possible to make only the target view (.focusOn) clickable even if .closeOnTouch is false?

Thanks!

[2017-06-23 09:26] faruktoptas commented on #46
@nagot21 It is not supported yet by the library. But you can use a workaround. Get the touch position if position is in focused area focused view handles the click otherwise FancyShowCaseView handles the click (or manually call hide() method). Focus position is calculated in https://github.com/faruktoptas/FancyShowCaseView/blob/master/library/src/main/java/me/toptas/fancyshowcase/Calculator.java

[2017-06-23 09:46] nagot21 commented on #46
@faruktoptas Cool bro, thanks for that!

[2017-06-23 12:32] faruktoptas commented on #46
You welcome @nagot21
We should add something like  `enableTouchOnFocusedView` to builder params.
Do you want to create a pull request to add this feature :)
I will close this issue when this feature is implemented.

[2017-06-27 10:12] sundeepkmallick opened #47 "Action bar items are not getting focused"
Action bar items are only getting focused if I call them inside onOptionsItemSelected() as per given sample program. But if I initialize the menu item view and then show casing it, show case focus is not getting visible / remains unfocused. Any way to fix it?

[2017-06-27 12:36] faruktoptas commented on #47
Add an id to the menu item. Then try to get the view with findViewById()

[2017-06-27 13:43] sundeepkmallick commented on #47
Hi faruktoptas, thanks for your reply. Menu item already has id and I'm getting the view by it's id only and preparing the showcaseview object. Then I'm trying to call it via queue.
`
	FancyShowCaseView fancyShowCaseView4; //class level
	@Override
    protected void initMenu() {
        getToolbar().inflateMenu(R.menu.action_menu);
		fancyShowCaseView4 = new FancyShowCaseView.Builder(getActivity()

[2017-06-28 04:09] gemiren opened #48 "FancyShowCaseView.Builder.build() method performance"
First of all, thanks for this awesome library. Here is a small performance enhancement request. The builder should check whether it has been shown before if showOnce flag is set and do thing if it has been shown before. No need to continue building the view in this case. Thanks.

[2017-06-28 07:41] faruktoptas commented on #47
Can you check that getActivity().findViewById(R.id.action_refresh) is not null and width /height value of this view is bigger than zero ?

[2017-06-28 07:45] faruktoptas commented on #48
Thanks @gemiren
You are right. I will do this enhancement.

[2017-07-03 08:09] faruktoptas commented on #47
@sundeepkmallick Did you solve the problem?

[2017-07-04 06:06] faruktoptas commented on #47
[code]
@sundeepkmallick You should call the method above in Runnable.

It should be:

[code]
If you try to build in onCreate() method, view's widht/height values are still 0. So you need to build after view is drawn.
I will implement `getViewTreeObserver().addOnGlobalLayoutListener` to get view's widht/height values if called in `onCreate()`. This is a better approach.

[2017-07-11 10:15] sundeepkmallick commented on #47
Hey @faruktoptas Thanks a lot. Sorry for the late reply. It's working nicely now. But one issue I observed, if I call fancyShowCaseView4 in 4th position, the focus is not coming properly. However, if I call fancyShowCaseView4  in the 1st position, then focus on the view is proper.

One more thing I want to mention, there's no call back if all the shocaseviews are shown. I mean all the showcase ite

[2017-07-11 10:28] faruktoptas commented on #47
@sundeepkmallick you welcome :)
I will try this case. It will be better if you can provide a sample code.

A listener for queue is needed. Please create another issue for Queue listener.

[2017-07-11 10:55] sundeepkmallick opened #49 "Listener on complete of ShowCase Queue"
Hi @faruktoptas,

It would be great if you can provide listener on complete of ShowCase Queue like below:

`FancyShowCaseQueue fq = new FancyShowCaseQueue()
                .add(fancyShowCaseView1)
                .add(fancyShowCaseView2)
                .add(fancyShowCaseView3)
                .add(fancyShowCaseView4)
                .show();

        fq.setOnCompleteListener(new OnCompleteListen

[2017-07-11 10:59] sundeepkmallick commented on #47
Ticket no for Queue listener: https://github.com/faruktoptas/FancyShowCaseView/issues/49

[2017-07-11 11:03] sundeepkmallick commented on #47
Regarding sample code for view focusing thing, not much change needed. I just changed the add position:

//Case 1: Focus positioning for actionbar item not proper
new FancyShowCaseQueue()
                        .add(fancyShowCaseView1)
                        .add(fancyShowCaseView2)
                        .add(fancyShowCaseView3)
                        .add(fancyShowCaseView4)

[2017-07-11 11:19] faruktoptas commented on #47
Thanks @sundeepkmallick
If you have an an app in Google Play that use FancyShowCaseView let me know and I will add your app to the list of [apps that use this library](https://github.com/faruktoptas/FancyShowCaseView#already-in-use-in-following-apps) in README.

[2017-07-11 11:23] faruktoptas commented on #47
@sundeepkmallick  when you create the queue some of the views may not be drawn yet. So they have 0 widht/height. I think implementing `getViewTreeObserver().addOnGlobalLayoutListener`  will solve this problem too.

[2017-07-12 07:08] sundeepkmallick commented on #47
@faruktoptas I am working on a POC. I'll share the app link if it goes live

[2017-07-20 09:57] harshvardhan-takawale commented on #11
I too am a first timer. Please do tell me if I can help in any way.

[2017-07-20 10:17] harshvardhan-takawale commented on #49
I am new to open source development and wish to take up this task if you permit. Any help would be appreciated.

[2017-07-20 13:33] faruktoptas commented on #49
Thank you @harshvardhan-takawale of course you can contribute to this repository. You can choose one from the issues below:
#2 - Adding an apk for the sample app
#11 - Updating README.md to explain all builder methods
#48  - FancyShowCaseView.Builder.build() method performance

I can help you if you need help.

[2017-07-21 07:09] harshvardhan-takawale commented on #2
Do I have to make a new keystore?

[2017-07-21 07:24] faruktoptas commented on #2
@harshvardhan-takawale yes please. But you should push it too. And add signing config details to build.gradle.

[2017-07-21 08:11] harshvardhan-takawale commented on #2
@faruktoptas Sorry for bothering you sir but I am new to open source and as for that matter to android dev as well. I had a small query, what should the keystore path be for this project? Sorry if this is a silly question.

[2017-07-21 08:47] faruktoptas commented on #2
@harshvardhan-takawale it is not problem. Don't hesitate to ask questions. I would love to help you for your contribution :)
Keystore file can be in `app` folder.

[2017-07-24 11:38] ZahraHeydari opened #54 "Bottom bar items are not getting focused"
I used it like this:
-=-=-=-=-=-=-=-
new FancyShowCaseView.Builder(this)
                .focusOn(findViewById(R.id.tab_home))
                .title("Focus on View")
                .focusShape(FocusShape.CIRCLE)
                .build()
                .show();

[2017-07-24 12:15] faruktoptas commented on #54
Are you trying to show in `onCreate()` ? Try to show `FancyShowCaseView` with 100ms delay. You can use `view.postDelayed()`.

[2017-07-24 12:19] ZahraHeydari commented on #54
Yes,I called it in onCreate() but it covers all screen and doesn`t get focus on Tab!

[2017-07-24 12:21] faruktoptas commented on #54
view.postDelayed() will solve it.

[2017-07-24 12:32] ZahraHeydari commented on #54
Thanks,it solved my problem.

[2017-07-24 12:32] #54 closed

[2017-07-24 12:41] #49 closed

[2017-07-24 12:41] faruktoptas commented on #49
Closed with #50

[2017-07-24 12:54] faruktoptas commented on #54
You welcome.

If you have an an app in Google Play Store that use FancyShowCaseView let me know and I will add your app to the list of [apps that use this library](https://github.com/faruktoptas/FancyShowCaseView#already-in-use-in-following-apps) in README.

[2017-07-24 13:22] faruktoptas commented on #2
Solved with #53

[2017-07-24 13:22] #2 closed

[2017-07-25 06:40] saurabhdhillon opened #55 "Out of memory issue on createBitmap"
Recenlty i started facing OOM issue on android 6.0.0 on createBitmap, did someone else face the same issue.
i have used RGB_565 in place of ARGB_888 to reduce the memory usage.

` mCalculator = new Calculator(mActivity, mFocusShape, mView, mFocusCircleRadiusFactor,
                mFitSystemWindows);
        Bitmap bitmap = Bitmap.createBitmap(mCalculator.getBitmapWidth(), mCalculator.getBitmapHei

[2017-07-25 06:44] faruktoptas commented on #55
Why do you need `Calculator`?

[2017-07-25 10:54] faruktoptas commented on #55
If you got OOM crash in `createBitmap()` method, this is not about the FancyShowCaseView library. Something else may cause OOM. Can you give more details please?

[2017-07-26 00:39] ncondron42 commented on #48
I can think of a few ways of optimizing this scenario:

1. when showOnce(id) is called, check if the flag is already set to true for that id and if so, return a dummy subclass of Builder that only returns itself for each function
2. Add a check to each builder function that checks for the flag and if set do nothing.
3. When build() is called, check the flag and if set to true for mId create a Fanc

[2017-07-26 20:38] FridayShamblen commented on #55
Having similar issue here. Had some bitmaps in Spannable used in .title option, but removed them and same issue still pops up. Only experiencing this OOM on API 19 and on an emulator.

Code snippet:
[code]

Here's the error:
`java.lang.OutOfMemoryError
                                                                            at android.graphics.Bitmap.nativeCreate(Native Method)

[2017-07-26 21:01] faruktoptas commented on #55
@FridayShamblen I will remove the bitmap creation part. It is unnecessary. I think it will fix the OOM.

[2017-07-26 21:38] FridayShamblen commented on #55
Thank you sir.

[2017-07-27 06:08] #47 closed

[2017-07-27 06:08] #55 closed

[2017-07-27 06:13] faruktoptas commented on #55
@saurabhdhillon @FridayShamblen I fixed it and released v0.1.3

[2017-07-27 10:05] Jeevuz opened #56 "removeView() not called when custom exit animation applied"
Hi, thanks for the library!
I think it should call removeView() when custom exit animation set, isn't it?

[2017-07-27 10:15] faruktoptas commented on #56
You welcome @Jeevuz
`removView` is not automatically called by the library. You can do it manually. I left it to user's responsibility. If you set custom exit animation you may want to do something else when animation ends. That's the reason.

[2017-07-27 10:53] Jeevuz commented on #56
This is the reason I was thinking about. Makes sense. Thank you for clarification!

[2017-07-27 10:53] #56 closed

[2017-07-27 11:39] Jeevuz opened #57 "Can't get right focus height with focusRectAtPosition()"
I'm setting the view using .focusRectAtPosition() and get focus height multiplied by 2.

[code]

Height is from dimensions:
[code]

And I get the visual height of focus exactly as the status bar (24dp).
Could you please help with this?

[2017-07-27 12:12] faruktoptas commented on #57
@Jeevuz can you share a screenshot. I couldn't imagine how it looks.

[2017-07-27 13:08] Jeevuz commented on #57
Sorry for the delay. Here it is:
![photo_2017-07-27_16-07-41](https://user-images.githubusercontent.com/1622073/28671550-c9a31064-72e5-11e7-90ff-6e112ab7484f.jpg)

[2017-07-27 13:28] faruktoptas commented on #57
If your root layout has `android:fitsSystemWindows="true"` then you need to add `.fitSystemWindows(true)` to `FancyShowCaseView` builder params.

[2017-07-27 14:01] Jeevuz commented on #57
No, this is doesn't help.
Could you please explain why this parameter connected with the height of the focus area?

[2017-07-27 14:31] Jeevuz commented on #57
I've tried in other activity without fullscreen and result is the same.

[2017-07-27 14:56] faruktoptas commented on #57
You can use a bigger height value.

[2017-07-27 15:10] Jeevuz commented on #57
Smaller. That's what I do right now. But this behavior is strange :(

[2017-07-27 15:18] faruktoptas commented on #57
Her is the code to draw roundRectAtPosition()

[code]

[2017-07-27 15:27] faruktoptas commented on #57
I've found the problem. You are disabling the focus animation but library it still uses `animCounter` paramter. So focus rectangle is bigger than expected.

[2017-07-27 15:30] Jeevuz commented on #57
Yes! I currently found the same and tried 1dp dimension - the focus shows this excess 40 pixels.

[2017-07-27 15:33] faruktoptas commented on #57
I'm fixing it now

[2017-07-27 15:41] #57 closed

[2017-07-27 15:44] faruktoptas commented on #57
@Jeevuz I've fixed it with release v0.1.4

[2017-07-27 16:07] Jeevuz commented on #57
Super! Thanks!

[2017-07-27 16:10] faruktoptas commented on #57
You welcome @Jeevuz
If you have an an app in Google Play that use FancyShowCaseView let me know and I will add your app to the list of apps that use this library in README.

[2017-07-27 16:13] faruktoptas commented on #48
Thanks @ncondron42 for your contribution.
I monitored process times and see that longest process is showing the view. Setting builder params and `build()` method doesn't take too much time. Using an alternate constructor takes same time as the real constructor.
So this optimisation is not necessary.

[2017-07-27 16:15] Jeevuz commented on #57
Ok, I'll let you know when the app will be released!

[2017-07-29 07:51] ZahraHeydari opened #59 "How to skip all show case views?"
How can I apply the skipping action to skip all show case views when I use FancyShowCaseQueue?

[2017-07-29 11:22] faruktoptas commented on #59
@ZahraHeydari `FancyShowCaseQueue` has a `cancel` method. You can use it.

[2017-07-29 13:45] ZahraHeydari commented on #59
Can I call it when my first view of queue is displayed?

[2017-07-29 13:46] faruktoptas commented on #59
Yes you can call.

[2017-07-29 13:52] ZahraHeydari commented on #59
Well how can I detect a view was displayed to do it?

[2017-07-29 13:54] faruktoptas commented on #59
You can use `FancyShowCaseView.isVisible(activity)` static method to check that if a `FancyShowCaseView` is on screen.

[2017-07-29 13:55] ZahraHeydari commented on #59
okay.I got it.Thanks

[2017-07-29 14:33] #59 closed

[2017-07-31 09:45] Janipasha opened #60 "How to change the font family of the title ?"
What is the font used in the title ? How can I change it ?

[2017-07-31 11:37] faruktoptas commented on #60
You can use a style with `titleStyle()` builder method to change the font.

Here is the example:
https://github.com/faruktoptas/FancyShowCaseView/blob/master/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.java#L134

[2017-07-31 15:30] lashket opened #61 "TabLayout custom view focus"
Hi, I have a tab alyout with custom view
[code]
My drawable/selector_tab_notifications looks like:

[code]
I'm trying to use:
[code]
[code]
and nothing works. Is there a solution to this problem?

[2017-07-31 15:37] faruktoptas commented on #61
Can you check that the views you pass to focusOn() are not null?

[2017-07-31 15:52] lashket commented on #61
Yes, I checked, in each case view is not null

[2017-07-31 21:16] faruktoptas commented on #61
What is the widht/height values for the view you want to focus?

[2017-07-31 23:01] ncondron42 opened #62 "Adding new shapes"
What do you think about adding new shapes besides circle and rounded rectangle? The code reads as though rounded rectangle was added as an afterthought. Thinking about generalizing the code and supporting a couple more shapes (elipse, rectangle).

[2017-08-01 05:43] #60 closed

[2017-08-01 05:47] faruktoptas commented on #62
Focus shape can be abstracted. So custom shapes can be implemented. But I've to change the focus canvas approach.

[2017-08-01 10:17] faruktoptas commented on #61
Which version of FancyShowCaseView you are using? This problem should be fixed with version 0.1.3

[2017-08-01 11:01] lashket commented on #61
yes, i used the old version of library. After updating to 0.1.4 i see this:
[screenshot](http://imgur.com/a/YsVMy)

[2017-08-01 11:44] faruktoptas commented on #61
Does your root view has fitSystemWindows=true ?

[2017-08-01 11:58] lashket commented on #61
No, but if i'm using this, it works fine
[code]
![screenshot](https://user-images.githubusercontent.com/9327685/28824230-cdf0dbfa-76c9-11e7-97c0-928d98da836e.png)

[2017-08-01 11:59] lashket commented on #61
No, but if im using this, it works fine:
[code]
![screenshot](https://user-images.githubusercontent.com/9327685/28824280-04dd8f8c-76ca-11e7-9b95-9c31b3e32dbb.png)

[2017-08-01 13:31] faruktoptas commented on #61
So is the problem with fitSystemWindows or not?

[2017-08-01 13:34] lashket commented on #61
No, i can't understand what is the problem. I don't use fitSystemWindows in this activity
It work fine only when i add postDelayd

[2017-08-01 13:37] faruktoptas commented on #61
I will try to reproduce it. It can be a special case for TabLayout. Can you share your activity layout?

[2017-08-01 13:41] lashket commented on #61
Yes, of course
[Source](https://gist.github.com/lashket/dc7d40bf628f9d9f0cec798be7dd8741)

[2017-08-01 13:47] faruktoptas commented on #61
Thanks @lashket I will try to find the problem. PercentageLayout may cause it. I've not tried it before.

[2017-08-02 06:10] chandlerbaggett commented on #11
Hello, it appears that this is still open... I'll take a stab at it if it's still available!

[2017-08-02 14:51] Janipasha commented on #60
I am using calligraphy font library , Creating a style file doesn't work
with it

On Tue, Aug 1, 2017 at 11:13 AM, Faruk Toptaş <notifications@github.com>
wrote:

[2017-08-03 06:39] faruktoptas commented on #60
You can use styles with Calligraphy.

[code]

[2017-08-03 08:52] msecilmis opened #63 "Title position is wrong"
[code]
First, in this code snippet (when i use titleStyle(...) ) fistsystemwindows(true) has no effect.

I tried to use titleGravity(..) with fitSystemWindows(true), in that case the title gets pushed outside the screen partially. I thought i could solve it by defining a style with marginTop and apply it and then the fitSystemWindows is eliminated and the button's focus is pushed upwards. :)

Any

[2017-08-03 08:57] faruktoptas commented on #63
Thanks @msecilmis

Can you share a screenshot?
fitSystemWindows(true) must be used if your root view has fitSystemWindows=true parameter. It's not about title.

[2017-08-03 09:06] msecilmis commented on #63
Yeah, i know fitSystemWindow is not about the title. What I'm saying is that using titleStyle eliminates the effect of fitSystemWindows.

![screenshot_20170803-120333 1](https://user-images.githubusercontent.com/15646492/28914336-f9cc88e8-7843-11e7-9627-fe0a3372e50a.png)

[2017-08-03 10:55] faruktoptas commented on #63
Interesting. I've tried the same code. But it works for me. Can you share your layout xml file?

Also you don't need ` sharedPrefManager.setIsLoginFragmmentAnimationsSeen(true);`
Just adding `showOnce(id)` to builder params is enough.
And with the version 0.1.3 showing in postDelayed method is not needed.

[2017-08-03 11:01] faruktoptas commented on #11
@chandlerbaggett there is a pr for this issue #58  But this is not enough. Each builder param should be explained with examples. Maybe adding a wiki would be better.

[2017-08-03 11:03] msecilmis commented on #63
Actually in the above case, my layout didnt have fitSystemWindows(true) so that was the problem, i got it working now. But in your sample app, in SecondActivity, if you try to set titleGravity(Gravity.TOP), I'm pretty sure you can reproduce my problem. Btw I'm using the showcase in a fragment, that's the reason that I'm pretty sure not completely.

[2017-08-03 11:15] msecilmis commented on #63
i.e.

new FancyShowCaseView.Builder(getmActivity())
                .focusOn(btnFourth)
                .title("etc etc")
                .fitSystemWindows(true)
                .titleStyle(0, Gravity.TOP)
                .titleSize(20, TypedValue.COMPLEX_UNIT_SP)
                .focusShape(FocusShape.ROUNDED_RECTANGLE)
                .build().show();

gives me:

![screenshot_20170803-140447](ht

[2017-08-03 11:22] msecilmis commented on #63
EDIT: I cloned your repository and ;

[code]

gives me:

![screenshot_20170803-142205 2](https://user-images.githubusercontent.com/15646492/28919671-35d1ba58-7857-11e7-9fe0-10a9ba14f968.png)

[2017-08-03 11:36] faruktoptas commented on #63
Yes I reproduced it. Title overflows the screen. I've found out the problem. Setting a style with margin can be used as a workaround.
But I will fix it :)

[2017-08-03 11:39] msecilmis commented on #63
Actually to leave this as a note, style with a margin doesn't work since it vanishes the effect of fitSystemWindow(true) . So we should wait for you to fix it, there are no workaround that i can think of.

[2017-08-03 13:25] msecilmis commented on #63
With more fiddling, I found a workaround:

Just make a custom layout with a textview with a margin and that's it.

[2017-08-03 14:24] ibhandari10 opened #64 "Is there a way to call a function as soon as the tutorial is dismissed?"

[2017-08-03 14:57] faruktoptas commented on #64
You can use dismissListener

[2017-08-03 17:13] ibhandari10 commented on #64
Thank you so much

On 3 Aug 2017 8:27 p.m., "Faruk Toptaş" <notifications@github.com> wrote:

[2017-08-03 19:26] #64 closed

[2017-08-10 01:57] 2391645784 opened #65 "program"
can't work well in android 7.1.1!!

[2017-08-10 06:21] faruktoptas commented on #65
@2391645784 Can you give more details? What happens on 7.1.1?

[2017-08-10 06:24] 2391645784 commented on #65
When I use it on project . I make the View focus on the FloatingActionButton , it can't work .   it is grey

[2017-08-10 06:36] faruktoptas commented on #65
Can you share your layout xml and the code please?

[2017-08-10 06:42] 2391645784 commented on #65
<?xml version="1.0" encoding="utf-8"?>
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/dl_customermainAct"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="tr

[2017-08-10 06:56] faruktoptas commented on #65
can you call the `FacyShowCaseView->show()` method in `new Handler().postDelayed()` runnable?

[2017-08-10 06:58] 2391645784 commented on #65
no , i didn't do it like this

[2017-08-10 07:20] faruktoptas commented on #65
can you try it?

[2017-08-10 07:21] 2391645784 commented on #65
(⊙o⊙)… well

[2017-08-18 16:18] polyak01 opened #68 "very critical bug with android:windowTranslucentStatus true"
Hello! Excellent library and thanks for the work. But I have found a very critical bug.

Try to add

[code]

to your v21+/style and check application.

Result:
![photo_2017-08-18_19-16-03](https://user-images.githubusercontent.com/15982214/29467626-d260f566-8449-11e7-97dc-b77439764960.jpg)

How can we fix it as soon as possible?

[2017-08-18 16:30] polyak01 commented on #68
Sorry) fixed with mFitSystemWindows

[2017-08-18 16:30] #68 closed

[2017-08-21 10:46] #8 closed

[2017-08-21 11:21] faruktoptas commented on #11
Wiki includes all builder parameters and more examples. This issue is no longer required.

[2017-08-21 11:21] #11 closed

[2017-08-22 11:39] csIng commented on #65
@2391645784 @faruktoptas
I test it in my device(android 7.1.1) with your layout resource,there has no any problem.
code like this:
`super.onCreate(savedInstanceState);
        setContentView(R.layout.test_activity);
        View view = findViewById(R.id.fab_customermainAct);
        new FancyShowCaseView.Builder(this)
                .backgroundColor(getResources().getColor(R.color.colorAccent))

[2017-08-22 11:40] csIng commented on #65
@2391645784 @faruktoptas
I test it in my device(android 7.1.1) with your layout resource,there has no any problem.
code like this:

`@Override
    protected void onCreate(@Nullable Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.test_activity);
        new FancyShowCaseView.Builder(this)
                .backgroundColor(getResources().getCol

[2017-08-22 11:41] csIng commented on #65
@2391645784 @faruktoptas
I test it in my device(android 7.1.1) with your layout resource,there has no any problem.
code like this:

`

super.onCreate(savedInstanceState);
        setContentView(R.layout.test_activity);
        new FancyShowCaseView.Builder(this)
                .backgroundColor(getResources().getColor(R.color.colorAccent))
                .fitSystemWindows(true)
                .f

[2017-08-23 11:28] faruktoptas commented on #65
@csIng @2391645784 I could not reproduce the problem too.
It works well.

[2017-08-25 11:44] NoHarmDan commented on #63
Could you please elaborate on the custom layout and margin? Because I have this problem with a custom layout I need to use (changing the fitSystemWindow parameter only makes it worse, regardless of its setting in the layout) and I can't figure the workaround out...

[2017-08-28 23:05] falkontre commented on #60
I tested the solution via style and font is not loaded (with Calligraphy)

[2017-08-30 10:41] k1p7 opened #69 "change animation radius (mAnimCounter)"
Hello.
Can you add function to change animation radius? Or, just set public construction to your classes?
Thank you for lib

[2017-09-04 17:53] faruktoptas commented on #69
@k1p7 Sorry for late reply. You want to set `ANIM_COUNTER_MAX` value not `mAnimCounter`. Its value is 20 by default now. I will add a builder param to set max value for `mAnimCounter`.

[2017-09-04 19:32] #69 closed

[2017-09-22 07:59] Lex74 opened #71 "Looping with custom animation"
Hello! The library is great, but there is an error. I want to set your fade animation for every api version. I use this code to create an animation:
Animation animationOut = AnimationUtils.loadAnimation(this, R.anim.fscv_fade_out);
And then in the builder:
.exitAnimation(animationOut)

Now, if I tap the show case view, it appears again and again

[2017-09-22 08:09] Lex74 commented on #71
Looks like, you have to use onAnimationEnd() with removeView() for custom animation

[2017-09-22 11:04] faruktoptas commented on #71
Yes you need to call `removeView()` in `onAnimationEnd()` method. Please see the [wiki](https://github.com/faruktoptas/FancyShowCaseView/wiki/4.-Custom-Enter&Exit-Animations)

[2017-09-22 11:04] #71 closed

[2017-10-01 23:39] Spettacolo83 opened #72 "Graphics problem when rotating screen"
Thank you for this amazing repository!
I've noticed some problem after rotating screen:
- wrong background
- wrong circle position
How can I fix it?
Cheers!

[2017-10-03 06:08] faruktoptas commented on #72
Thank you @Spettacolo83
I will check the problem asap.

[2017-10-04 10:15] Spettacolo83 opened #73 "Skip button"
Hello there,
thank you for this amazing library!
I wonder if it is possible to add a skip button in order to close all the further FancyShowCaseView.
Can you suggest me how can I reach that?
Cheers!

[2017-10-04 20:17] faruktoptas commented on #73
Thank you.
You can use your own layout with a skip button. Please see https://github.com/faruktoptas/FancyShowCaseView/wiki/3.-Inflate-Custom-View

If you use FancyShowCaseQueue for multiple instances, it has a cancel method. Cancel method. It cancels all further instances

[2017-10-05 14:26] efung opened #74 "Circular enter reveal not working because getWidth/getHeight return 0"
I'm using a custom overlay view, with a circular focus on a FAB, testing on an API 26 device.  I'm trying to debug why the circular enter animation wasn't working (but the exit one is fine). I've tried calling `FancyShowCaseView.show()` in `onStart` and `onResume`. I can see that the animation start code is the `onPreDraw` callback of the showcase view's view tree observer, so the showcase view sh

[2017-10-05 20:04] faruktoptas commented on #74
@efung can you share your layout xml file?

[2017-10-05 20:05] faruktoptas commented on #73
@Spettacolo83 Did you try it?

[2017-10-05 20:16] efung commented on #74
Hmm, on further experimentation today, it happens in one of my activities but not another. I think there's some kind of threading issue, perhaps related to RxJava.

I'll report back here when I figure it out.

[2017-10-05 20:21] faruktoptas commented on #74
Ok let me know if there is a problem.

[2017-10-05 22:25] Spettacolo83 commented on #73
Hi @faruktoptas !
I did it thank you!
I created a new layout (helptour_view.xml) like this:

[code]

and then I called in the builder:

`.customView(R.layout.helptour_view, myInflateListener)`

The only thing that I've noticed is that when call the hide() method with a standard exitAnimation, you can not know when the animation will finish, there is not a callback.

[2017-10-06 06:15] faruktoptas commented on #73
@Spettacolo83 Great :)

Maybe I should add a callback to `onAnimationEnd()` for enter/exit animations.

[2017-10-06 18:13] Spettacolo83 commented on #73
Perfect! Let me know! Thank you!

[2017-10-07 01:05] efung commented on #74
Still have not figured it out. I've built your sample on my device, and it works fine. I added a FAB to `SecondActivity` and focused on it, using a custom view, to replicate my layout, and it's fine.

For what it's worth, in my app, we're using Kotlin and the Kotlin Android Extensions.

[2017-10-08 00:06] efung commented on #74
I've been able to reproduce the problem. In my PR, the first commit modifies one of the activities in the sample app to demonstrate the problem.

When you click `ANOTHER ACTIVITY`, you get taken to the second activity, and the focus shows on one of the buttons. However, if you change the code to create the showcase view explicitly, rather than calling `performClick` on the focused button, **the en

[2017-10-08 11:26] #74 closed

[2017-10-08 11:29] faruktoptas commented on #73
@Spettacolo83 `animationListener()` added to builder parameters. It will be available with the next release.

[2017-10-08 11:29] #73 closed

[2017-10-08 11:30] faruktoptas commented on #65
Closing the issue. Please reopen with more details if reproduced.

[2017-10-08 11:30] #65 closed

[2017-10-08 11:32] faruktoptas commented on #72
@Spettacolo83 can you share a screenshot. I works well with landscape too.

[2017-10-08 11:41] #48 closed

[2017-10-08 11:46] #63 closed

[2017-10-08 23:30] Spettacolo83 commented on #72
I prevented the landscape because of this bug at the moment.

[2017-10-11 20:16] andyb129 commented on #46
Just added a pull request for this. hope is all looks OK :-)

[2017-10-11 20:34] faruktoptas commented on #46
Thanks @andyb129 :) I will check it asap.

[2017-10-12 20:06] faruktoptas opened #77 "Adding delay to builder parameters"

[2017-10-12 20:13] #77 closed

[2017-10-12 20:18] faruktoptas commented on #46
@andyb129 I changed the touch logic a bit :)
Because the issue was making focused view clickable while FancyShowCaseView is visible.
Fixed with #76

[2017-10-12 20:18] #46 closed

[2017-10-13 07:25] andyb129 commented on #46
ok nice one. Looks good 👍

[2017-10-16 01:25] Spettacolo83 commented on #15
I still have this problem with new version 1.0.0:

![screenshot_1508117065](https://user-images.githubusercontent.com/5663188/31591613-426f26aa-b219-11e7-9559-7ee46692e53a.png)

I'm using .fitSystemWindows(true)

[2017-10-16 14:32] faruktoptas commented on #15
@Spettacolo83 can you share your layout xml file?

[2017-10-16 15:36] Spettacolo83 commented on #15
Yes @faruktoptas this is my layout xml:

[](https://gist.github.com/Spettacolo83/203b017c1429dafce0e0900952d4902b)

[2017-10-17 08:59] faruktoptas commented on #15
Removing `windowTranslucentStatus:true` and `windowContentOverlay:@null` from your theme will fix the problem.

[2017-10-18 13:13] Spettacolo83 commented on #15
Thank you very much @faruktoptas I solve in that way.
I removed them only for KitKat and it works!
Thank you once again!

[2017-10-20 08:17] Spettacolo83 opened #78 "Crash first start of app"
Hello @faruktoptas, I've just released my app with your fantastic class.
I'm getting a few crash report only at the first start of the app.
This is the error...

[code]

Any suggestions to fix that?
Thank you very much!

[2017-10-20 10:56] faruktoptas commented on #78
Dou you add a delay to show it?

[2017-10-20 16:57] Spettacolo83 commented on #78
Hi @faruktoptas !
Yes I used a delay in order to avoid problem when I forced it to portrait (issue #72)
This is the code:

private void showCase(String showcase_id, int gravity, View viewFocus, FocusShape focusShape)
    {
        int viewGravity = R.layout.helptour_view;
        if (gravity == Gravity.TOP) viewGravity = R.layout.helptour_view_top;
        if (gravity == Gravity.BOTTOM) viewGravit

[2017-10-20 17:07] faruktoptas commented on #78
You should check if activity is still alive in run() method. I should be:
[code]
Or you can use builtin delay method:

[code]

[2017-10-22 06:25] Spettacolo83 commented on #78
Thank you @faruktoptas , I've fixed it in this way:

[code]

I appreciate your help!

[2017-10-22 12:29] faruktoptas commented on #72
Can you enable landscape and share screenshot with me?

[2017-10-22 12:29] #78 closed

[2017-10-22 12:29] faruktoptas commented on #78
You welcome @Spettacolo83

[2017-10-23 10:20] visherandro opened #79 "Focus on AlertDialog"
How to make it work on alert dialog

[2017-10-23 12:01] faruktoptas commented on #79
@visherandro
Dialogs are shown on top of other views. So dialogs are not supported yet.

[2017-10-24 11:18] Spettacolo83 commented on #72
Hi @faruktoptas
this is an example...

![landscape_fancy](https://user-images.githubusercontent.com/5663188/31940228-4572302a-b8b5-11e7-9cd0-4036bd600847.jpg)

As you can see, my layout is resized but the black background doesn't.
Thank you!

[2017-11-10 12:02] akshayISTAR opened #80 "how to disable enterAnimation and ExitAnimation ?"

[2017-11-10 18:32] faruktoptas commented on #80
@akshayISTAR You can customize enter/exit animations. Create an animation with 0 duration then set it.

https://github.com/faruktoptas/FancyShowCaseView/wiki/4.-Custom-Enter&Exit-Animations

[2017-11-10 18:45] akshayISTAR commented on #80
Thank you. I found a sightly different solution. I made an empty file in 'anim' directory named 'falseAnim.xml' file and set it in enterAnimation and exitAnimation of my fancyShowCaseView object to disable enterAnimation and exitAnimation.

[2017-11-10 18:45] #80 closed

[2017-11-12 01:31] djsbaa commented on #79
You can customize your dialog and add it setOnShowListener()

[2017-11-28 18:50] felixeduardo15 opened #81 "No focus on Toolbar Menu item"
[code]

`View menu = findViewById(R.id.locations);` //R.id.locations = menu id

[2017-12-12 08:45] Deeptimay opened #82 "Not focusing properly on item"
this how it's focusing in my app. What should i do ?

![screenshot_1513068050](https://user-images.githubusercontent.com/11171478/33874983-ba999764-df46-11e7-8bb8-60eaba5cf29a.png)

[2017-12-12 08:49] faruktoptas commented on #82
https://github.com/faruktoptas/FancyShowCaseView/wiki

NOTE: .fitSystemWindows(true) MUST be added to builder parameters if your root view has android:fitsSystemWindows="true"

[2017-12-12 08:56] Deeptimay commented on #82
It worked thanks. @faruktoptas

[2017-12-12 08:57] #82 closed

[2017-12-29 22:17] Alikaraki95 opened #84 "Using your library"
Hey,
couldn't find another way to tell ya, but thanks for the awesome library:) I just wanted to say that i'm using it now and already included it's name in my app. In case you want to add it to the README, [Here is the link to mine](https://play.google.com/store/apps/details?id=com.nephi.getoffyourphone)

Cheers mate!

[2017-12-30 10:12] faruktoptas commented on #84
Thanks @Alikaraki95 you can make a pull request and add your app to README.md

[2018-01-04 15:09] SpencerDepas commented on #81
I would also like this feature.

[2018-01-04 15:25] #84 closed

[2018-01-04 15:27] faruktoptas commented on #81
It works well with ToolBar menu items. Here is the example:

https://github.com/faruktoptas/FancyShowCaseView/blob/master/app/src/main/java/me/toptas/fancyshowcasesample/SecondActivity.java

[code]

[2018-01-04 19:23] SpencerDepas commented on #81
Thank you.

[2018-01-04 22:17] #81 closed

[2018-01-19 14:26] Perick95 commented on #45
Hi,

I have the same problem, if I set closeOnTouch (false) and enableTouchOnFocusedView (true) the other things below the overlay are still clickable.
Another issue is if I touch the view on focus the overlay doesn't hide.
 
Is there a way to do these two things?

Thank you!

[2018-01-21 19:42] faruktoptas commented on #45
@Perick95 closeOnTouch(false) prevents closing when touch. So closing is your responsibility.
enableTouchOnFocusedView(true) makes the focused view touchable. This is the behaviour.

Is there still a problem?

[2018-02-02 03:19] asqa opened #85 "I can't pointing to Action bar Menu item"
when I try to target an action bar menu item and put the code inside onOptionsItemSelected then show case view will displayed after i click right? but i want show case view displayed first time when i open that page.. how i can fix it?

[2018-02-02 09:20] faruktoptas commented on #85
@asqa You can do it in onCreateOptionsMenu() method. But a handler is needed because menu item view is not inflated yet when this method triggers. Here is the code:

[code]

[2018-02-02 09:20] #85 closed

[2018-02-02 13:11] asqa commented on #85
Thanks for solution, now i got another error,,when i try to remove showcase with button my app getting force close.. here is my code :

public boolean onCreateOptionsMenu(Menu menu) {
        getMenuInflater().inflate(R.menu.menu_contact, menu);

        new Handler().postDelayed(
                new Runnable() {
                    @Override
                    public void run() {

[2018-02-02 13:18] faruktoptas commented on #85
Because mFancyShowCaseView is null.

You should do this:

`mFancyShowCaseView = new FancyShowCaseView.Builder(ContactTabActivity.this)`

[2018-02-02 14:16] asqa commented on #85
So create an object first before mFancyShowCaseView. removeView();

[2018-02-02 14:19] faruktoptas commented on #85
No. Your code shuld be:

[code]

[2018-02-11 09:32] YanxuLi opened #86 "please help me，the focus view is show this，the location is wrong。"
![screenshot_2018-02-11-17-28-09-41](https://user-images.githubusercontent.com/17410522/36071923-7bba77fa-0f0e-11e8-98ae-1e6a03f25c14.png)
![screenshot_2018-02-11-17-28-04-86](https://user-images.githubusercontent.com/17410522/36071924-7beb6338-0f0e-11e8-9149-10a44beed961.png)

[2018-02-11 09:53] YanxuLi commented on #86
I know the problem，because the Theme ，in other words，is the StatusBar，I changed the theme to android:theme="@style/Theme.Design.Light.NoActionBar，it worked。
![screenshot_2018-02-11-17-52-07-28](https://user-images.githubusercontent.com/17410522/36072088-694b1284-0f11-11e8-9831-747546958b2f.png)

Can you think about this situation and push updates?

[2018-02-11 10:13] #86 closed

[2018-02-11 11:20] faruktoptas commented on #86
Is your root view has android:fitSystemWindiws="true"?

[2018-02-11 15:08] TheJordisc opened #87 "Custom View without custom TextView"
Is there any way to use a custom view for just adding a button? I tried to use that feature but it seems to be mandatory to put a TextView in my custom view in order to see any text.

I want to use a custom view to add an exit button, but i got too many showcase views to use a custom layout for each string. And setting the strings and positioning the TextView programatically at every showcase queu

[2018-02-11 20:48] faruktoptas commented on #87
@TheJordisc You can't use .title() and titleStyle() methods with custom view. But you can do it easily with the method below:

[code]

[2018-02-12 01:35] YanxuLi commented on #86
sorry，I saw this attribute later.now it's workd,thank you~

[2018-02-12 16:02] 97balakrishnan opened #88 "android-apt deprecated"
android-apt got deprecated with android studio version 2.2 and the Gradle files have to be updated to support android studio developers.

[2018-02-13 06:01] faruktoptas commented on #88
@97balakrishnan do you want to make a PR?

[2018-02-13 06:26] 97balakrishnan commented on #88
Yes . I have started working on it.

[2018-02-13 16:53] 97balakrishnan commented on #88
I am getting some error in Travis cl can you help?

[2018-02-16 17:18] #88 closed

[2018-02-17 09:48] harshvardhan-takawale opened #90 "Opening an app with focus on actionbar item"
Is there a way to such that I can focus automatically on an action bar item when I open an app without clicking the item?

[2018-02-17 09:59] faruktoptas commented on #90
Yes it is possible. Please see https://github.com/faruktoptas/FancyShowCaseView/issues/85#issuecomment-362531175

[2018-02-17 09:59] #90 closed

[2018-02-17 10:02] #87 closed

[2018-02-17 13:26] harshvardhan-takawale opened #91 "Focus not centered at the actionbar item"
I am trying to use the fancyshowcase view on an actionbar item but it is off-centered. Can something be done?
![screenshot_20180217-184951](https://user-images.githubusercontent.com/28982436/36341431-3a943788-1414-11e8-9425-44579a42cb16.png)

[2018-02-17 15:11] faruktoptas commented on #91
Your root view has android:fitSystemWindiws="true"?

[2018-02-17 17:01] faruktoptas commented on #91
`.fitSystemWindows(true)` MUST be added to builder parameters if your root view has `android:fitsSystemWindows="true"`

[2018-02-17 22:53] harshvardhan-takawale commented on #91
It worked. Thankyou so much sir

[2018-02-18 07:02] #91 closed

[2018-02-19 15:51] harshvardhan-takawale commented on #91
@faruktoptas Can we point to the three dots in the action bar that are there to open the menu?

[2018-02-19 21:33] faruktoptas commented on #91
@harshvardhan-takawale If you use a theme with ActionBar you need to get the view reference of ActionBar then find the child view.
I think you should use Toolbar. It would be easier with `toolBar.getChildAt(index)`

[2018-02-28 19:24] husnain92 opened #92 "App crash when try to show showcase."
I have implemented showcase queue on multiple screens but some times it crash with following log. I clearly shows that when I try to start showcase queue it crash app.  Please help me fix this issue.
Thanks

mContext.runOnUiThread(new Runnable() {
                    @Override
                    public void run() {

                        fancyShowCaseQueue = new FancyShowCaseQueue();

[2018-03-01 05:54] faruktoptas commented on #92
@husnain92 can you share the code that you create showcases (showcase1, showcase2, showcase3)? It seems that when you start the queue some of the showcases are still null.

[2018-03-01 20:10] husnain92 commented on #92
@faruktoptas   Yeah it was showcase was null in some cases. I fixed it after you pointed issue cause.
Thank you so much. :+1:

[2018-03-01 22:41] #92 closed

[2018-03-03 19:54] DavidEdwards opened #93 "Revealed section does not fit view"
In my App, the pulsated revealed section is too high.

Here is an example screenshot showing the positions. The red arrows indicate which view it is supposed to be highlighting.

![image](https://user-images.githubusercontent.com/1585923/36938632-9abaf104-1f24-11e8-9d21-82ec00b2d55d.png)

Is this a known issue? Perhaps a resolution?

[2018-03-03 21:16] DavidEdwards commented on #93
For what it is worth, I added a margin to the top of the view. It resolves my issue. Perhaps a margin could be built into the API?

[code]

[2018-03-03 21:28] faruktoptas commented on #93
.fitSystemWindows(true) MUST be added to builder parameters if your root view has android:fitsSystemWindows="true"

[2018-03-04 09:47] DavidEdwards commented on #93
Ah ha. That did it. Thank you for the update.

May I suggest adding that to the wiki? That is an invaluable bit of information.

Great library by the way, thank you for releasing it. This will make my Apps on-boarding process much easier.

I'll be adding it to this App: https://play.google.com/store/apps/details?id=dae.notificationreader

[2018-03-04 09:47] #93 closed

[2018-03-04 21:44] faruktoptas commented on #93
You can see it on the wiki :)
I think I should move it to README.md.

[2018-03-05 08:05] DavidEdwards commented on #93
Wow. On the first page. I don't know how I missed it.

Double apologies.

[2018-03-10 11:08] fillobotto opened #94 "Empty custom view"
I can't set a custom view properly. When is shows up, I can only see its background (if I set one).

Here is custom layout:

[code]

And library call:
[code]

No textview is shown.

[2018-03-10 11:11] fillobotto commented on #94
Just forget it. For some reason I used `tools:text` instead of `android:text`. I am terrible.

[2018-03-10 11:11] #94 closed

[2018-03-27 14:33] ankursharma234 opened #95 "Title text is not multiline"
If the title is too big, the title show .... at the end of the line. It doesnt show in next line

[2018-03-27 14:40] faruktoptas commented on #95
Thanks @ankursharma234
You can send a PR to fix it. Or you can use custom views as a workaround https://github.com/faruktoptas/FancyShowCaseView/wiki/3.-Inflate-Custom-View

[2018-04-02 22:24] BanenoLuso opened #96 "Compile to Implementation"
At first thanks for this fantastic library, i just need to Switch to new dependency configurations on gradle
thanks

[2018-04-03 06:27] faruktoptas commented on #96
You welcome @BanenoLuso
You can use `implementation` instead of `compile`. It depends on your gradle version not library version.

[2018-04-03 06:27] #96 closed

[2018-04-06 16:24] ornolisvt opened #97 "Out of memory error"
I created a binding to C # for this library to use with Xamarin Android. I created a queue with three elements as follows:

            var imgScan = FindViewById<ImageView>(Resource.Id.img_scan);
            var b1 = new FancyShowCaseView.Builder(this)
                .FocusOn(imgScan)
                .Title("Escanea el código QR")
                .Build();

            var autoComplete = FindVie

[2018-04-06 19:13] faruktoptas commented on #97
@ornolisvt it is difficult to find OOM crashes. Can you get a memory dump to see which objects allocate the memory?
There may be some object instances that can't be collected by GC. You have to find out these objects.

[2018-04-09 17:25] ornolisvt commented on #97
Hello, I made some changes to the code and generated the library again, in this case it frees the resources. The main change has been in the FancyImageView file:
[code]
Thanks

[2018-04-09 17:28] faruktoptas commented on #97
Great :)
Can you create a pull request? I will check then merge it.

[2018-04-09 18:07] ornolisvt commented on #97
Ok, in the night I will make the pull request with the changes

[2018-04-09 18:08] faruktoptas commented on #97
Thanks @ornolisvt

[2018-04-10 17:26] #97 closed

[2018-04-11 12:47] prasad456 commented on #81
Its showing only on click, I have to display in queue

[2018-05-04 20:33] JDSCaram opened #99 "Flag to set Title above or below the view"
Hello, it is possible?
Flag to set Title above or below the view with focus.
I know that is possible using .titleStyle or titleGravity to set the position for label
However when the view is in the center of the screen and I put
`Gravity.CENTER_HORIZONTAL | Gravity.TOP`
the title is too far from the view depending on the size of the screen.
I do not want to have customization layouts just to displa

[2018-05-16 06:04] faruktoptas commented on #99
Hello @JDSCaram
For now, you can do it with custom layouts. But there is a PR (#43 ) for automatic text positioning. But I think it is inactive now. It has a small issue with `focusCircleRadiusFactor` parameter. I will add this feature asap.
You can send PR if you are interested in contributing this library.

[2018-05-23 21:08] chimzycash opened #100 "Logo Proposal"
Hello...

Your project is Amazing... I came across it and I want to help contribute to your project by using my Logo Design Skills to contribute and help create a LOGO/ICON for your project...

I am designing an idea concept already... You can also give your own idea for me to create...

I will update what I have done here so you can give me your feedback or possibly any change or tweak you may wa

[2018-05-24 01:16] faruktoptas commented on #100
Thanks so much @chimzycash

I am looking forward to see your idea concept. Feel free to use any color. You can check material color palettes.

[2018-05-24 17:46] chimzycash commented on #100
Hello...

Here are my design ideas...

![logo design_fancy showcase_presentation](https://user-images.githubusercontent.com/37814297/40502368-a85022f0-5f82-11e8-94c2-aa615e56c55d.jpg)

![logo design_fancy showcase_presentation 2](https://user-images.githubusercontent.com/37814297/40502383-b20029c6-5f82-11e8-98ea-2e379a6dd6fe.jpg)

![logo design_fancy showcase_thumbnail icons](https://user-images.g

[2018-05-27 07:57] chimzycash commented on #100
@faruktoptas

You can also share your own design concept if you have for me to create...

[2018-05-27 20:51] faruktoptas commented on #100
@chimzycash
I appreciate for your beautiful designs :)
I like the latest one.

![40511214-f1318f9a-5f96-11e8-9666-f52054b17ad0](https://user-images.githubusercontent.com/1595227/40590481-25f4d7c8-6208-11e8-8b9b-98e58fba4565.jpg)

I've created a color palette for my sample app:
[https://www.materialpalette.com/deep-orange/cyan](https://www.materialpalette.com/deep-orange/cyan)

What do you think ab

[2018-05-28 12:55] chimzycash commented on #100
@faruktoptas

i'm glad you liked one of the design concepts... :)

OK... i will change the background to the deep-orange color and share

[2018-05-30 15:53] githubGhoul opened #101 "Status bar problem"
Hello, how do I handle the layer without overwriting the status bar

[2018-05-31 04:58] faruktoptas commented on #101
Hello @githubGhoul
Currently, FancyShowCaseView does not overwrite the status bar. Can you give more details please?

[2018-05-31 04:59] faruktoptas commented on #100
Thank you @chimzycash
I will use this color palette and logo in the sample app soon :)

[2018-05-31 04:59] #100 closed

[2018-05-31 05:04] chimzycash commented on #100
That's great @faruktoptas

I will prepare all the files including the vector files and icons for you to use and update here on your project...

[2018-06-01 20:32] ricardoaom15 opened #102 "Doesn't focus the view in the center"
I have a problem with the focus, circle doesn't appears centered with the view selecte in "focusOn()"
![indice](https://user-images.githubusercontent.com/10048797/40862099-ffc295ac-65b0-11e8-837d-a7eb31caf54b.jpg)

[2018-06-03 20:48] faruktoptas commented on #102
Hi @ricardoaom15

`.fitSystemWindows(true)` MUST be added to builder parameters if your root view has `android:fitsSystemWindows="true"`

[2018-06-04 13:46] Emericma opened #103 "About Sequence"
Hi everybody,

Is there a way to do a sequence ?

I mean, app open one Showcase, after closing a new appear etc... etc...

Thanks

Regards

[2018-06-04 13:57] Emericma commented on #103
Sorry for my comment I found it on the "Wiki".

[2018-06-04 14:02] #103 closed

[2018-06-05 00:10] ricardoaom15 commented on #102
Hi @faruktoptas,

thats not the problem, i realize the problem happens when the application is in full screen.
I did some tests and definitely the error happens when I put the full screen property.
![capture](https://user-images.githubusercontent.com/10048797/40947911-cca01268-682a-11e8-92f6-a30e5a2391d1.PNG)
I did the tests in a new project, is there any way that can fix it?

Thanks

[2018-06-05 08:06] faruktoptas commented on #102
Can you share a screenshot and the code you show FancyShowCaseView?

[2018-06-05 15:07] ricardoaom15 commented on #102
![untitled](https://user-images.githubusercontent.com/10048797/40984702-234759c8-68a8-11e8-85f3-376f0605319a.png)

The only change in the two examples is the full screen, as you can see

[2018-06-06 05:59] faruktoptas commented on #102
@ricardoaom15 thank you for details.
Focus position is calculated with statusbar.  When you switch to full screen add `.fitSystemWindows(true)` to builder params to ignore staturbar height.

[2018-06-08 09:53] krupinder955 commented on #99
Can we set the custom view below the focused view ?

[2018-06-10 12:14] Verdurakh opened #106 "Dismiss without trigger ondismiss"
So a scenario I'm having is that on screen load I show a FancyBox with some information and when it is dismissed the screen progresses with a call to a method.

The problem arises for example when the user press the back button then I want to close the fancybox without triggering the method since that context would no longer be available when the animation finishes.

Now I have to accomplish this

[2018-06-15 10:46] munishkumar071 opened #107 "FancyShowCaseView not focus view in a fragment in viewpager"
In a viewPager i created two objects of FancyShowCaseView and add in a queue.
if i call the method in on createView the its working fine but in setUserVisibleHint() method it gives an Issue
Issue is first fancy showcase view not focus the view

![untitled](https://user-images.githubusercontent.com/40294705/41464231-3a8743b6-70b7-11e8-9c7f-5df689dd3db3.png)

and 2nd view working fine

![untitled](h

[2018-06-25 01:28] iman2420 opened #108 "How to dismiss only in TouchOnFocusedView not on body?"
How to dismiss **showCase** only in **TouchOnFocusedView** not on body?

[2018-06-28 18:31] azizur-rehman commented on #106
I am also waiting for this issue to be solved....

[2018-06-28 21:45] faruktoptas commented on #106
Sorry for the late response. I'll fix it asap.

[2018-06-28 21:48] faruktoptas commented on #107
Can you share the code that you are creating FancyShowCaseView() instance and call show() method?
If the view is null or not inflated yet, it can't focus.

[2018-06-28 21:53] faruktoptas commented on #108
@iman2420 it is possible with `enableTouchOnFocusedView(true)` . There is an example [here](https://github.com/faruktoptas/FancyShowCaseView/blob/09955b994b89884149790669320dcfcf4c5bb900/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.java#L93)

[2018-06-28 22:01] faruktoptas commented on #107
@munishkumar071
You must call it after view creation. Because focus needs view position and size. So please use it in `onCreateView()` method.

[2018-06-28 22:01] #107 closed

[2018-06-28 22:01] #108 closed

[2018-06-28 22:15] faruktoptas commented on #99
@krupinder955 no not only below the focused view. You can set custom view for the whole view.

[2018-06-28 22:18] faruktoptas commented on #106
Getter/setter methods for dismissListener are protected now. It should have been public. I will make it public with the next release. So when you press the back button you need to set `dismissListener` to `null` then call `hide()` method. This will fix your problem.

[2018-06-30 12:51] Verdurakh commented on #106
Awesome! Yeah that will solve the issue :)

Also opens up the ability to change the event which can be useful in some cases

[2018-07-03 05:09] rkarimi88 opened #109 "Custom Font"
Hi
Thanks for your great lib.

Would you please add a function for changing typeface?
Of course I can use custom view, but if you add it it would save time :)

[2018-07-03 06:13] faruktoptas commented on #109
Hi @rkarimi88
You can set a title style:

[code]

[code]

If you use a library like [Calligraphy](https://github.com/chrisjenx/Calligraphy) you can set typefaces from styles.

[2018-07-03 06:50] rkarimi88 commented on #109
Thanks for your answer.
I want to use my own font, so i can't use font-family.

"If you use a library like Calligraphy you can set typefaces from styles."
Yes I'm using it, but i can't set it. i use:
<item name="fontPath">fonts/myfont.ttf</item>
but it doesn't work. the way i use is wrong?

[2018-07-03 07:05] faruktoptas commented on #109
Did you add the code below to your activity?

[code]

[2018-07-03 07:35] faruktoptas commented on #109
Can you share your code please?

[2018-07-03 07:43] rkarimi88 commented on #109
Of course:
in styles.xml:
`<style name="MyTitleStyle" parent="@android:style/Widget.TextView">
        <item name="android:textSize">20sp</item>
        <item name="android:textColor">#1babcf</item>
        <item name="fontPath">fonts/11.ttf</item>
    </style>`

where 11.ttf is a font in assets/fonts folder.

in java:
`FocusShape rect = FocusShape.ROUNDED_RECTANGLE;
FancyShowCaseView.Builder num1

[2018-07-03 07:59] faruktoptas commented on #109
Can you remove `titleSize()` method and try again?

[2018-07-03 08:06] rkarimi88 commented on #109
I did it, no difference.

[2018-07-03 08:42] faruktoptas commented on #109
Where do you call show() method? In which method of activity/fragment?

[2018-07-03 08:46] rkarimi88 commented on #109
I'm using a queue and call `queue.show()` in onCreate method of Activity.

[2018-07-03 08:47] faruktoptas commented on #109
I need to see whole code

[2018-07-03 08:51] rkarimi88 commented on #109
I'm using Android Studio 2.2.3 (old version) which I'm not able to update it till a few days later. Can the problem relates to this?
Your lib is very attractive and I really want to use it. I have tested many libs for showcase and yours is the best.

[2018-07-03 09:07] faruktoptas commented on #109
It shouldn't be related with AS. It may be your device's Android version. Can you try with another device?

[2018-07-03 09:13] rkarimi88 commented on #109
I tried it. It's the same.
Here is my code:

styles.xml:
[code]
MainActivity.java:
[code]
activity_main.xml:
[code]

manifest.xml:
[code]

and at last, a class named MyFont.java for initializing Calligraphy:
[code]

[2018-07-03 09:20] rkarimi88 commented on #109
I apply `MyTitleStyle `to `Target `(TextView) in activity_main.xml and it works like a charm, but it doesn't work on ShowCase.

note that I have two fonts, named 1.ttf and 11.ttf, which 1.ttf is the font of whole activity, and i want 11.ttf to be the font of ShowCase. but none of them apply to ShowCase.
Even if 1.ttf would be applied to ShowCase, it was good... but it doesn't...

[2018-07-03 10:37] faruktoptas commented on #109
FancyShowCaseView sets the style programmatically with setTextApperance() method. But I figured out that Calligraphy [doesn't support that](https://github.com/chrisjenx/Calligraphy/issues/309).
Unfortunately you have to use a custom view.
I reopened this issue. Because I will add support for styling textview from xml.

[2018-07-03 12:28] rkarimi88 commented on #109
I'm so much thankful of you for spending time on this.

Thanks responsible man! :)

[2018-07-03 12:40] faruktoptas commented on #109
Thanks @rkarimi88 :)
I'll let you know after fixing the issue. If you have time you can fix it and send me a pull request. You can contribute if you are interested in. I can help you 👍

[2018-07-09 20:38] Micpol opened #110 "No focus on fab"
It happens only after reenabling tutorial and only in a fragment kept in memory(it's scanning for bluetooth devices) and when I move from any othe fragment to this one, while tutorial is enabled. However it won't happen if you close the app.
I tried .fitSystemWindows(true) and it doesn't work. I tried debugging focus location, but got NPE. I use showcaseView in onViewCreated method. For both situa

[2018-07-10 09:14] faruktoptas commented on #110
Hi @Micpol
Can you share the code how you build FancyShowCaseView? In which method of fragment/activity

[2018-07-10 15:00] #106 closed

[2018-07-13 08:11] rkarimi88 commented on #97
Hi again :)
Have you created the pull request of this issue and update the library?

I have the same problem in Android 7. Is there any way to solve the problem without changing the lib, & just by adding some code? which objects should I clean instead of GC? Are they b1, b2 & b3 (in this example)?

[2018-07-13 08:52] faruktoptas commented on #97
Hi @rkarimi88 I've merged but not released yet. There will be a new release today.

[2018-07-13 09:50] faruktoptas commented on #97
Her it is :)
https://github.com/faruktoptas/FancyShowCaseView/releases/tag/1.0.1

[2018-07-13 09:51] faruktoptas commented on #106
@Verdurakh
Here is the new release https://github.com/faruktoptas/FancyShowCaseView/releases/tag/1.0.1

[2018-07-14 07:11] rkarimi88 commented on #97
Thanks for you consideration :)

[2018-07-14 09:45] Verdurakh commented on #106
thanks for that, it will be super useful! 👍

[2018-07-16 14:02] Micpol commented on #110
Hm.. it seems like the problem is gone, even though I haven't change anything in this fragment. I was trying to reproduce this bug again, but failed to. Now everything is working as intended, sorry for bothering you and thanks for a fast answer.

[2018-07-16 14:03] Micpol commented on #110
Hm.. it seems like the problem is gone, even though I haven't change anything in this fragment. I was trying to reproduce this bug again, but failed to. Now everything is working as intended, sorry for bothering you and thanks for a fast answer.

[2018-07-16 14:03] #110 closed

[2018-07-20 11:06] axionnneeeel opened #111 "Wrong focus on Android 4.4"
Hello, everything is working fine on newer phones but for Android 4.4 isn't focusing right. Any solutions ?

[2018-08-02 08:19] axionnneeeel commented on #111
anyone ?

[2018-08-02 08:26] faruktoptas commented on #111
@axionnneeeel
Can you share  a screenshot, your layout xml and code to fire FancyShowCaseView?

[2018-08-12 17:13] iman2420 opened #112 "fitSystemWindows not work on API-19"
I use `fitSystemWindows `in `FancyShowCaseView `. but `fitSystemWindows `not work on `api<=19`. why?

[2018-08-12 18:51] faruktoptas commented on #112
@iman2420 can you share a screenshot and your layout xml file?

[2018-08-12 18:53] faruktoptas opened #113 "Issue Template"
Please specify the items below for an issue.

- Issue description
- Screenshot
- Layout XML file
- Java/Kotlin code to create FancyShowCaseView in activity/fragment etc.
- Android API Level
- Activity theme

[2018-08-12 18:53] #113 closed

[2018-08-13 17:08] iman2420 commented on #112
layout xml:
    `
<?xml version="1.0" encoding="utf-8"?>
    <RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fitsSystemWindows="true">
    ....
    ....
`
and java code:

           `
                new FancyShowCaseView.Bu

[2018-08-14 05:37] faruktoptas commented on #112
This information is not enough to find out the problem. Can you share a screenshot, whole xml layout and your theme please?

[2018-08-22 07:51] Shohrukhbek opened #114 "Cannot start this animator on a detached view!"
Can you show me how to make CustomView work from Fragments for this method?
` view.findViewById(R.id.btn_action_1).setOnClickListener(new View.OnClickListener() {
                            @Override
                            public void onClick(View view) {
                                mQueue.getCurrent().hide();
                            }
                        });`

[2018-08-23 08:28] thundenilla commented on #33
Hi. How to focus only for the single item of the list ? ie situation:

Splash screen > dashboard (a list) > auto focus on the first item of the list with show case. ( Right before select the item )

Thanks mate !

@faruktoptas

[2018-08-23 08:29] thundenilla opened #116 "Recyclerview : Onfocus to the list item BEFORE it's been pressed/click"
Hi. How to focus only for the single item of the list ? ie situation:

Splash screen > dashboard (a list) > auto focus on the first item of the list with show case. ( Right before select the item )

Thanks mate !

@faruktoptas

[2018-08-23 08:34] faruktoptas commented on #116
Hi @thundenilla,

Here is an example for recyclerview https://github.com/faruktoptas/FancyShowCaseView/blob/master/app/src/main/java/me/toptas/fancyshowcasesample/RecyclerViewActivity.java

You should do it in onBindViewHolder method of adapter.

[2018-08-23 08:38] faruktoptas commented on #114
You can read this wiki for custom views
https://github.com/faruktoptas/FancyShowCaseView/wiki/3.-Inflate-Custom-View

I think your problem is that you detach your fragment before FancyShowCaseView animation ends.

[2018-08-23 08:46] Shohrukhbek commented on #114
Hey! That's right, it was detached before animation was ended because my Fragment has inner Fragments and app needs to show the Views from those inner ones. But, I found the solution:
` if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.LOLLIPOP) {
            view.addOnLayoutChangeListener(new View.OnLayoutChangeListener() {
                @TargetApi(Build.VERSION_CODES.LOLLIPOP)
                @

[2018-08-23 08:46] #114 closed

[2018-08-24 15:49] grndvl1 opened #117 "Ad at the top causes Focus to be Off"
If I place an banner ad at the top using the standard DFP library(com.google.android.gms.ads), and I have a focus on any item in the activity, the center is off.  If I remove the ad code and layout placement the centering of the Focus is spot on.

[2018-08-24 15:52] faruktoptas commented on #117
Can you share a screen shot please?

[2018-08-24 16:19] grndvl1 commented on #117
Can't cause company I work for won't like that.  I did find a solution though, I have to use
`.fitSystemWindows(true)`
for it to not be off by 50 pixels.

[2018-08-24 16:33] #117 closed

[2018-08-25 08:16] Shohrukhbek opened #118 "Is it possible to show focus onDrawerOpened"
[code]
//rest of the code

@faruktoptas can you add a feature to focus on Drawer/NavigationView Menu item

[2018-08-25 08:27] faruktoptas commented on #118
Can you try to find menu item view from drawerView?

[2018-08-25 08:29] Shohrukhbek commented on #118
I've already tried `drawerView.findViewById(R.id.actionFeedback)` and this `navigationView.getChildAt(8)`

[2018-08-25 08:30] faruktoptas commented on #118
Is it null?

[2018-08-25 08:35] Shohrukhbek commented on #118
Of course no. Drawer and NavigationView working fine. It just not focusing on the item

[2018-08-25 08:38] Shohrukhbek commented on #118
Here is my full drawer initializing method
[code]

[2018-08-25 11:28] faruktoptas commented on #118
If you check view hierarchy of NavigationView you can see that children views (NavigationMenuItemView) are in NavigationMenuView. So you can access child views like with the code below:

`.focusOn(((drawerView as ViewGroup).getChildAt(0) as ViewGroup).getChildAt(5))`

[2018-08-25 15:37] Shohrukhbek commented on #118
[code]
Did you mean something like this? Cuz it's not working (also tried with NavigationView)

[2018-08-25 16:26] faruktoptas commented on #118
Not that. It should be
`(ViewGroup (viewGroup.getChildAt(0))).getChildAt(8)`

[2018-08-25 18:46] Shohrukhbek commented on #118
That's what worked bro. **Thanks**

[2018-08-25 18:46] #118 closed

[2018-08-27 14:14] deepakcipl opened #119 "Scrolling Issue"
I have a scroll view and need to focus different views among of them some views appear when user scroll the device screen. I am using queuing multiple instances. It should be auto scroll the layout and should focus on view which are visible after scrolling. Please let me know how to achieve this task.

[2018-08-27 19:34] faruktoptas commented on #119
Queue doesn't support such a behaviour. You have to handle without a queue. You can follow the steps below:

- Listen for the scroll when view to be focused is visible show first FancyShowCase
- After first instance is closed manually scroll then show second FancyShowCase
- Repeat until the last view to be focused

[2018-08-31 05:59] faruktoptas commented on #116
Can you share information listed in the [sample issue](https://github.com/faruktoptas/FancyShowCaseView/issues/113) please?

[2018-09-03 12:46] faruktoptas commented on #13
<img width="972" alt="screen shot 2017-04-06 at 16 23 11" src="https://user-images.githubusercontent.com/1595227/44987645-908b4d80-af90-11e8-922d-ac7426eb9eb1.png">

[2018-09-03 15:27] Pretty-19 opened #120 "what is the main class for this project?"
I have cloned the git repository in netbeans  but an error for "No main class is found" how to figure it out?

[2018-09-03 15:28] #120 closed

[2018-09-03 15:28] faruktoptas commented on #120
You should use Android studio not NetBeans

[2018-10-10 07:36] faruktoptas opened #124 "Refactor to Kotlin"

[2018-10-10 07:37] faruktoptas opened #125 "Add Espresso tests"

[2018-10-11 10:28] #124 closed

[2018-10-13 13:41] chimzycash commented on #100
@faruktoptas ...Thank you for merging the logo design to your project... It showed that my contribution was of value to you... Here is the google drive link for the VECTOR FILES for future use...

https://drive.google.com/drive/folders/1Wu_9N4ptw-W2nortGSyHBnWh-h6qlyx1?usp=sharing

[2018-10-16 06:28] lee1026td opened #126 "Focus on home screen's view"
i'm making an app which can help elder people's "android phone using", and this is what i want to know:

1. is "FancyShowCaseView" can give a focused view on android's home screen?
2. can i change focused view's position with x, y?
![zl9rr](https://user-images.githubusercontent.com/29156773/46996571-1b4a9500-d158-11e8-8335-2ef163bbb29c.png)

[2018-10-16 07:27] faruktoptas commented on #126
@lee1026td Sorry you can't focus on the home screen. But you can focus a specific position with x,y,w,h values.

[2018-10-25 16:29] faruktoptas commented on #111
Sample project works fine with 4.4 devices. There was a problem for full-screen activities. It is fixed with https://github.com/faruktoptas/FancyShowCaseView/commit/b6a102b926e3810a887be5b05da2b9ec9d223991

[2018-10-25 16:30] #111 closed

[2018-10-25 16:31] faruktoptas commented on #112
Duplicate of https://github.com/faruktoptas/FancyShowCaseView/issues/111#issuecomment-433118841

[2018-10-25 16:31] #112 closed

[2018-10-25 16:35] faruktoptas commented on #95
Title is multiline. Example: https://github.com/faruktoptas/FancyShowCaseView/blob/b6a102b926e3810a887be5b05da2b9ec9d223991/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L106

[2018-10-25 16:35] #95 closed

[2018-10-25 19:18] faruktoptas commented on #99
Auto position feature is added with https://github.com/faruktoptas/FancyShowCaseView/commit/747ae80f8754065f33858b8c2d5dd1392f075ddb

[2018-10-25 19:18] #99 closed

[2018-10-25 19:18] faruktoptas commented on #9
Espresso tests will be used.

[2018-10-25 19:18] #9 closed

[2018-10-25 19:18] #10 closed

[2018-10-25 19:47] #116 closed

[2018-10-25 19:48] faruktoptas commented on #116
Sample added to focus RecyclerView item after loading.

[2018-10-25 19:49] #119 closed

[2018-11-01 07:32] ashishgupta2510 opened #128 "Add Arrow below to the target view"
## Add Arrow
### Expected behavior:there is no arrow below target view
actual behavior:Please Add arrow and give access to add customised arrow

Hi ,
This is a request you to give functionality to add customised arrow below or top to the target view.

Thanks

[2018-11-06 09:33] mbf5923 opened #129 "Gravity"
## Issue title
### Expected behavior and actual behavior:
### Steps to reproduce the problem:
### Specifications (like the version of the project, operating system, or hardware):
### Screenshots:

[2018-11-06 09:34] #129 closed

[2018-11-06 10:53] faruktoptas commented on #128
Hi @ashishgupta2510
You can access `focusCenterX`, `focusCenterY`, `focusHeight` and `focusWidth` parameters. You can add your arrow view in your custom layout by using these parameters.

[2018-11-07 09:01] rentalio commented on #128
i always get 0 fancy.focuscenterx fancy.focuscentery

[2018-11-07 09:02] rentalio commented on #128
fancyShowCaseView1 = new FancyShowCaseView.Builder(this)
                .focusOn(booking_general_rl_car_transmission_container)
                .enterAnimation(enterAnimation)
                .customView(R.layout.layout_showcaseview_one, new OnViewInflateListener() {
                    @Override
                    public void onViewInflated(View view) {
                        view.findViewById

[2018-11-07 09:03] rentalio commented on #128
` fancyShowCaseView1 = new FancyShowCaseView.Builder(this)
                .focusOn(booking_general_rl_car_transmission_container)
                .enterAnimation(enterAnimation)
                .customView(R.layout.layout_showcaseview_one, new OnViewInflateListener() {
                    @Override
                    public void onViewInflated(View view) {
                        view.findViewBy

[2018-11-07 11:31] faruktoptas commented on #128
@rentalio I will check it. It should return a value after `show()` method is triggered.

[2018-11-21 11:27] karthickperumal opened #130 "Unable to set title for customView"
val fancyShowCaseView1 = FancyShowCaseView.Builder(this)
                .title("First Queue Item......")
                .focusOn(btn_queue_1)
                .enableAutoTextPosition()
                .customView(R.layout.layout_my_custom_view, object : OnViewInflateListener {
                    override fun onViewInflated(view: View) {
                        view.findViewById<View>(R.id.btn_ac

[2018-11-21 12:26] #130 closed, assigned to nobody

[2018-11-28 12:28] atif-afridi opened #131 "I have received fabric crash on multiple devices"
## Fatal Exception: java.lang.IllegalStateException
Cannot start this animator on a detached view!

Android versions : 5.1,5.1.1 and 7.1.1

[2018-11-28 12:29] atif-afridi commented on #131
Fatal Exception: java.lang.IllegalStateException: Cannot start this animator on a detached view!
       at android.view.RenderNode.addAnimator(RenderNode.java:792)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:301)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:283)
       at android.animation.RevealAnimator.(RevealAnimator.java:37)

[2018-11-28 14:48] faruktoptas commented on #131
Hi @atif-afridi ,
You finish the activity before exit animation ends. You should finish the activity after animation end. There is a listener for animation `builder.animationListener(listener)`

[2018-12-03 06:33] atif-afridi commented on #131
@faruktoptas  i dont want to finisht the activity i mean may be user switch to other activity but it shouldnt not crash if user changes the screen .. how can i use builder.animationListener(listener) to handle the crash rather then closing the activity ?
thanks

[2018-12-03 06:44] atif-afridi commented on #131
i have used this fancyview for tutorial screen which is place above my main screen of app from where your navigates to other screens. and this animation is on showed when user is registered for the first time i.e this screen is displayed only once. how can i handle this crash ? if you need more details i can provide.

[2018-12-03 06:49] faruktoptas commented on #131
@atif-afridi I saw the problem. I must add `isAttachedToWindow` check in `doCircularExitAnimation` method. If you don't handle backPress it may cause this crash. As a workaround Can you override onBackPressed() method of your base activity like below?
[code]
When user clicks back button once fancyShowCaseView will close. At the second time activity will finish.
I will fix the bug asap.

[2018-12-03 06:57] faruktoptas commented on #131
Can you share the code that you create/show and hide the fancyShowCaseView?

[2018-12-03 07:05] atif-afridi commented on #131
yes sure ...

private FancyShowCaseView leaderView;

 leaderView = new FancyShowCaseView.Builder(this)
                .focusOn(binding.llLeaderBoard)
                .backgroundColor(ContextCompat.getColor(this, R.color.guide_bg_light_pink))
                .customView(R.layout.layout_learderboard_view, new OnViewInflateListener() {
                    @Override
                    public void on

[2018-12-03 07:06] atif-afridi commented on #131
i have added

if (FancyShowCaseView.isVisible(this)) {
	    FancyShowCaseView.hideCurrent(this)
	}

before opening any other activity. it looks safe to me !

[2018-12-03 07:20] faruktoptas commented on #131
With the next release, I will add check the view is attached before the exit animation

[2018-12-08 17:50] atif-afridi commented on #131
@faruktoptas  hey bro i just received the crash for the new changes i implemented previous kindly have a look when get time thanks

[code]

[2018-12-08 18:54] faruktoptas commented on #131
Hi @atif-afridi
It looks like the same crash. Did you use the library from the source code?

[2018-12-08 19:05] #131 closed

[2018-12-08 19:06] faruktoptas commented on #131
I've just released the 1.1.2 version. It will fix your problem.

[2018-12-08 19:09] atif-afridi commented on #131
ok thanks a lot will try it :)

[2018-12-08 19:13] faruktoptas commented on #131
You're welcome :)
Do you mind if I add your app to the apps using this library list in Readme?

[2018-12-26 19:50] supasheva commented on #79
Hi. Has this issue been resolved finally?

[2018-12-26 19:57] faruktoptas commented on #79
@supasheva good news :)
Can you create a PR please?

[2018-12-26 20:00] faruktoptas commented on #79
@supasheva Unfortunately not yet.

[2019-01-10 13:06] Yousha commented on #39
Why not put it in Maven Central or JCenter?

[2019-01-11 07:14] Ishwor-Shrestha opened #136 "Pass inflated view in customView()"
customView() function only accepts a layout id. Would it be possible to have an option to pass an inflated view instead

[2019-01-11 08:59] fajaranugrah commented on #128
this one already on language java? because i'm using java language

[2019-01-12 08:16] hotsxu opened #137 "mTitleGravity is invalid"
## Issue title
### Expected behavior and actual behavior:
### Steps to reproduce the problem:
### Specifications (like the version of the project, operating system, or hardware):
### Screenshots:

[2019-01-22 07:08] skydschmidt opened #138 "Adding a DismissListener to a FancyShowCaseQueue"
### Adding a DismissListener to a FancyShowCaseQueue
If I use a FancyShowCaseQueue and terminate it with queue.cancel(), I have no way of knowing. Because internally in the FancyShowCaseQueue the DismissListener of the FancyShowCaseView is overwritten with the one of the queue.
But I don't have the possibility to change the behaviour of the queue in case of a dismiss.

Is there a way I overlook? O

[2019-01-22 14:10] faruktoptas commented on #39
@Yousha It is available on JCenter now.

`implementation 'me.toptas.fancyshowcase:fancyshowcaseview:1.1.4'`

[2019-01-22 14:21] faruktoptas commented on #137
No problem :) You can also use `enableAutoTextPosition`

[2019-01-22 14:36] faruktoptas commented on #136
@Ishwor-Shrestha why do you need this? You can use an empty Relative/LinearLayout resource then add your inflated view with `addView()` in `onViewInflated(view:View)` method.

[2019-01-22 14:37] faruktoptas commented on #128
@fajaranugrah you can use both Java and Kotlin.

[2019-01-22 17:09] Ishwor-Shrestha commented on #136
My bad. I didn't notice OnViewInflateListener returns the inflated view.

[2019-01-22 17:09] #136 closed

[2019-01-23 06:14] faruktoptas commented on #128
@fajaranugrah Because you try to show it before fragment is attached. Can you try to move this code under `onViewCreated()` method?

[2019-01-23 06:16] faruktoptas commented on #138
@skydschmidt I couldn't understand the exact problem can you describe the issue with the steps below?
* Expected behavior
* Actual behavior:
* Steps to reproduce the problem:

[2019-01-23 07:10] skydschmidt commented on #138
Hi @faruktoptas , Excuse my not so understandable execution.

I created a gist based on your "CustomQueueActivity" to clarify what I mean. (https://gist.github.com/skydschmidt/311e416e618e94d1bd52bfbae41c062f)

I add a DismissListener to all three FancyShowCaseView objects.
My expectation would be that if I go through the queue, for each FancyShowCaseView object that is no longer displayed it shou

[2019-01-24 21:31] faruktoptas commented on #138
@skydschmidt sorry for late reply. I've seen the problem the DismissListener in the queue overrides your listener. I will fix it asap.

[2019-01-24 21:39] skydschmidt commented on #138
Thx

[2019-01-28 10:12] ChristoferAlexander commented on #137
Hi faruktoptas, I can not find any method  enableAutoTextPosition in the build  'me.toptas.fancyshowcase:fancyshowcaseview:1.1.4'. Was it removed ?

[2019-01-28 15:16] faruktoptas commented on #137
@ChristoferAlexander No it is not removed. It is in the builder methods.

[code]

[2019-01-28 15:50] faruktoptas commented on #138
@skydschmidt I've fixed it. You can try with 1.1.5 version.

[2019-01-28 15:50] #138 closed

[2019-01-28 15:53] faruktoptas commented on #128
@ashishgupta2510 @rentalio I've fixed the problem with the 1.1.5 release. You can access focus position with:

[code]
Here is a sample usage:
https://github.com/faruktoptas/FancyShowCaseView/blob/ae23f359bbe8bbda47b621ea2b8fcb329081ade4/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L228

[2019-01-28 15:53] #128 closed

[2019-01-30 07:36] skydschmidt commented on #138
@faruktoptas thx. works fine!

[2019-02-06 08:37] melamr commented on #131
hello,
i've run into the same issue while using a queue.
mFancyshowcaseView.hide() crashes, the solution for me was
mClickListener = new View.OnClickListener() {
            @Override
            public void onClick(View view) {
                //fancyShowCaseView.hide();
                queue.getCurrent().hide();
            }
        };
hope it can help others :)

[2019-02-25 06:50] faruktoptas commented on #131
@melamr Sure. There is only one instance attached. If you try to hide an unattached instance you got this error. `queue.getCurrent()` returns the active instance.

[2019-02-25 10:20] atif-afridi commented on #131
@faruktoptas  sure but for now we have shifted from firebase to our own server so reviews are not good now a days :p

this is the link for the app .. its a live game show in pakistan

https://play.google.com/store/apps/details?id=com.es.triv

thanks :)

[2019-03-02 07:50] udongeex opened #139 "Double Touch issue"
When I double touch the view (very fast, within 1 second), the animation did flash two times before closed.
Is there a way to stop it ? Thanks a lot

[2019-03-02 14:56] faruktoptas commented on #139
@udongeex Use `animationListener` to find out if the view is still animating. Don't do anything if there is an ongoing animation. Also you can set `closeOnTouch(false)` to prevent double touch to close the view.
Here is a sample usage for animation listener:

[code]

[2019-03-02 15:40] udongeex commented on #139
Thanks you @faruktoptas ,just what I need 👍

[2019-03-02 15:52] #139 closed

[2019-03-29 13:56] andzejsw opened #140 "Going one step back in FancyShowCaseQueue"
No method to go back to previous queue step. Only way so far i discovered is to manually add the one step, who was before and all steps who will follow it. And then just call:
`queue.getCurrent().hide();`
wich one closes current step and opens back step, cause it is next in queue.

[2019-03-29 14:20] faruktoptas commented on #140
@andzejsw queue mechanism doesn't support going back now. You should create your own queue. Set an `animationListener` in builder then show the next/previous instance in `onExitAnimationEnd` method.

[2019-03-29 14:25] andzejsw commented on #140
Ok. Tnx for answer.

[2019-03-29 15:02] andzejsw commented on #140
Tnx again. I made it working!

[2019-04-02 07:11] #140 closed

[2019-04-04 10:42] andzejsw opened #141 "View reinits multiple times"
I have FancyShowCaseView with animationListener. In onExitAnimationEnd i have this code:
`queue.get(stepActive).show();`
I have A custom view . In it i have some click listeners. If i click back one, which one has this code:
`btnBack.setOnClickListener(new View.OnClickListener() {
    @Override
    public void onClick(View view) {
        queue.get(stepActive).hide();
        stepActive = stepActi

[2019-04-04 10:51] andzejsw commented on #141
`queue.get(stepActive).hide();`
I am not closing view correctly or what?

[2019-04-04 10:52] andzejsw commented on #141
or listener is responsible for this issue,

[2019-04-04 11:44] faruktoptas commented on #141
Hi @andzejsw
Which method is triggering multiple times?

[2019-04-04 11:57] andzejsw commented on #141
As far as i see logs in my code, none of mine:
'
buildStep next: 1
buildStep onExitAnimationEnd: 1
buildStep next: 2
buildStep onExitAnimationEnd: 2
buildStep back: 1
buildStep onExitAnimationEnd: 1
buildStep back: 0
buildStep onExitAnimationEnd: 0
'
Here is log from first next button click till i reach third view. and then i go from 3rd to first again.

[2019-04-04 11:59] andzejsw commented on #141
btnNest code:
`queue.get(stepActive).hide(); stepActive = stepActive + 1;`
btnBack code:
`queue.get(stepActive).hide(); stepActive = stepActive - 1;`

[2019-04-04 12:14] andzejsw commented on #141
I think i got something. Same happend if i add same view multiple times:

queue.add(switchStep);
queue.add(switchStep);
queue.add(switchStep);

[2019-04-04 12:24] andzejsw commented on #141
For all cases there is same view id. But isShownBefore == false;

[2019-04-05 06:23] andzejsw commented on #141
Only way so far to get over this issue so far which one i found is to create create new view again in onExitAnimationEnd like this:
`
public void onExitAnimationEnd() {
    if(!tutorialClosed) {
        View vi = stepList.get(stepActive).getView();
        String ti = stepList.get(stepActive).getTitle();
        FancyShowCaseView fvi = buildStep(vi, ti);
        queue.set(stepActive, fvi);

[2019-04-05 06:57] faruktoptas commented on #141
Using the same instance multiple times may cause this problem. You should create new instances.

[2019-04-05 08:20] andzejsw commented on #141
Ok i will do that. But still i think this should be fixed in this lib.

[2019-04-08 07:19] #141 closed

[2019-04-18 13:20] mohsenzamani22 opened #142 "show fancy views again"

[2019-04-18 14:02] mohsenzamani22 opened #143 "error in showing fansy show"
when i want to start the fansy show
this error comes up
final FancyShowCaseView view1 = new FancyShowCaseView.Builder(mActivity)
                    .title("first show")
                    .focusOn((ImageView) mValues.get(0))
                    .focusBorderColor(Color.GREEN)
                    .focusBorderSize(10)
                    .enableTouchOnFocusedView(false)
                    .backgro

[2019-04-18 21:32] faruktoptas commented on #142
Don't use showOnce if you want to show it multiple times.

[2019-04-18 21:32] #142 closed

[2019-04-18 21:34] faruktoptas commented on #143
Can you try this:
https://stackoverflow.com/questions/44197521/gradle-project-java-lang-noclassdeffounderror-kotlin-jvm-internal-intrinsics

[2019-04-23 05:27] s675660665 opened #144 "Crash on android 9.0 when call hide()"
## Crash on android 9.0 when call hide()
### Fatal Exception: java.lang.IllegalStateException: Cannot start this animator on a detached view!
       at android.view.RenderNode.addAnimator(RenderNode.java:830)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:295)
       at android.view.RenderNodeAnimator.setTarget(RenderNodeAnimator.java:280)
       at android.animation.R

[2019-04-23 16:24] faruktoptas commented on #144
@s675660665 how do you show the view? Are you trying to hide it after activity finish?

[2019-04-25 13:17] bhoomishah20 opened #145 "How to focus multiple views at same screen at a time"
Library works perfect but got stuck in below issue:
## How to focus multiple views at same screen at a time
Can we be able to focus multiple views, like add views in array? or maybe call focusOn multiple times? using this library?

Please let us know,
Thanks in Advance!

[2019-04-25 14:57] faruktoptas commented on #145
Hi, @bhoomishah20 you can use FancyShowCaseQueue to show multiple instances as a chain. But there is no support to focus on multiple views in one instance.

[2019-04-25 15:26] faruktoptas commented on #143
@mohsenzamani22 solved the problem?

[2019-04-30 10:50] mohsenzamani22 commented on #143
yes

[2019-04-30 11:26] #143 closed

[2019-05-17 05:14] s675660665 commented on #144
This issue occur when new two view to one filed, solved now.

[2019-05-17 05:14] #144 closed

[2019-05-22 22:49] faruktoptas commented on #61
Closed due to inactivity. Can be reopened with steps to reproduce.

[2019-05-22 22:49] #61 closed

[2019-05-22 22:52] faruktoptas commented on #72
Closed due to inactivity.

[2019-05-22 22:52] #72 closed

[2019-05-22 22:52] faruktoptas commented on #62
Not planned to be added. PR's welcome :)

[2019-05-22 22:52] #62 closed

[2019-05-22 22:53] faruktoptas commented on #79
Closed due to inactivity.

[2019-05-22 22:53] #79 closed

[2019-05-22 22:55] #145 closed

[2019-06-11 02:19] fajaranugrah opened #147 "Cannot start this animator on a detached view!"
Fatal Exception: java.lang.IllegalStateException
Cannot start this animator on a detached view!
me.toptas.fancyshowcase.FancyShowCaseView$7.onGlobalLayout

i show on activity and then fragment

android.view.RenderNode.addAnimator (RenderNode.java:799)
android.view.RenderNodeAnimator.setTarget (RenderNodeAnimator.java:299)
android.view.RenderNodeAnimator.setTarget (RenderNodeAnimator.java:281)
andr

[2019-06-11 07:29] faruktoptas commented on #147
Hi @fajaranugrah You are trying to close the instance after detaching the fragment from activity. Does it happen when you backPress?

[2019-06-11 10:51] fajaranugrah commented on #147
@faruktoptas not sure, because i get this error from firebase crash

[2019-06-13 11:16] iman2420 opened #148 "NoClassDefFoundError: Class not found using the boot class loader; no stack available"
In some device i got this error:

       `E/UncaughtException: java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;
        at me.toptas.fancyshowcase.FancyShowCaseView$Builder.<init>(FancyShowCaseView.kt)
        at package.activities.HomeActivity.lambda$fillShowcaseQueue$15$HomeActivity(HomeActivity.java:761)
        at package.activities.-$$Lambda$HomeActivity$

[2019-06-14 10:04] dudayefahmad opened #149 "sequence"

[2019-06-14 10:05] #149 closed

[2019-06-14 17:45] faruktoptas commented on #147
Can you use the latest version? 1.0.0 is a buggy version for Issue #131

[2019-06-14 17:45] #147 closed

[2019-06-14 17:49] faruktoptas commented on #148
@iman2420 On what Android versions you got this error?
 Is kotlin configured on your project?

[2019-06-18 07:35] fajaranugrah commented on #147
@faruktoptas after i update to
implementation 'com.github.faruktoptas:FancyShowCaseView:1.1.5'
i got problem like this #143 but i don't know how to fixed it because i use java not kotlin
can you help me?
thanks

[2019-07-04 23:28] antailbaxt3r commented on #148
`implementation 'org.jetbrains.kotlin:kotlin-stdlib-jdk7:1.3.31'
    implementation 'nl.dionsegijn:konfetti:1.1.2'`

Add these lines to your build.gradle dependencies. Manually adding the Kotlin libraries worked for me.

[2019-07-05 09:06] #148 closed

[2019-07-15 07:45] xiaoli-style opened #150 "Does not support java language, currently only kotlin?"
Error when using：java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Intrinsics;

[2019-07-15 09:23] tarek13 opened #151 "i get this error when include library"
this is error
java.lang.NoClassDefFoundError: Failed resolution of: Landroidx/core/content/ContextCompat;

[2019-07-15 10:03] faruktoptas commented on #150
Duplicate of #148

[2019-07-15 10:03] #150 closed

[2019-07-15 10:08] faruktoptas commented on #151
Can you add the line below to app/gradle dependencies?

`implementation "androidx.appcompat:appcompat:1.0.2"`

[2019-07-15 10:08] #151 closed

[2019-07-15 10:20] tarek13 commented on #151
can i include library without convert my project to androidx

[2019-07-15 13:59] sundeepkmallick commented on #151
Hi @tarek13 , Did you manage to include the library without converting the whole project to AndroidX?

[2019-07-15 14:00] tarek13 commented on #151
yes

[2019-07-15 14:00] sundeepkmallick commented on #151
Please suggest how?

[2019-07-15 14:01] tarek13 commented on #151
i tried put it doesn't work so i need help from @faruktoptas  to solve this issue

[2019-07-15 14:31] sundeepkmallick commented on #151
I assume, only solution is to migrate the app to AndroidX. Notify if anyone succeeded. I concluded from this discussion: https://stackoverflow.com/questions/53268865/android-x-toolsreplace-specified-at-line-for-attribute-but-no-new-value-spec

[2019-07-15 14:38] tarek13 commented on #151
thanks , but it is better to include library without androidx

[2019-07-16 06:47] faruktoptas commented on #151
Hi @tarek13 sorry for late reply. It should work without converting to androidx. Can you share the error you see when you implement. Also your gradle file please(to see other dependencies etc.)?

[2019-07-19 03:32] Bloody-Lotus opened #152 "Cant include library"
## Is it possible to not using AndroidX?

### It shows Failed resolution of: Landroidx/core/content/ContextCompat;
If I don't add
```implementation "androidx.appcompat:appcompat:1.0.2"```
It shows
[code]

After that, I need to add this in AndroidManifest.xml
(From [https://stackoverflow.com/questions/51742697/android-manifest-merger-fails-after-adding-dependency-com-google-android-materia/51742991

[2019-07-19 08:41] faruktoptas commented on #152
@Bloody-Lotus It should work. But I will try to find out the problem. As a workaround you can use 1.1.5 version.

[2019-07-19 08:44] faruktoptas commented on #152
Btw have you tried this?
https://github.com/android/android-ktx/issues/576#issuecomment-437145192

[2019-07-20 07:05] ReddyAswiniReddy opened #153 "Target Focusing issue at first time"
### When Install first time blinking view is not on exact position.

[2019-07-20 07:12] faruktoptas commented on #153
Can you share a screen shot?

[2019-07-21 19:38] faruktoptas commented on #151
@tarek13 you can use 1.1.5 version.

[2019-07-22 11:19] tarek13 commented on #151
Great!
Thanks a lot

[2019-07-23 19:10] faruktoptas commented on #152
For non-androidx project 1.1.5 version should be used.

`implementation 'me.toptas.fancyshowcase:fancyshowcaseview:1.1.5'`

[2019-07-23 19:10] #152 closed

[2019-07-24 13:16] ReddyAswiniReddy commented on #153
I have added   "android:fitsSystemWindows="true" " to my xml file & fitSystemWindows(true)  to Builder as well now it is working fine.

Thanks.

[2019-07-24 13:16] #153 closed

[2019-08-06 19:40] faruktoptas opened #154 "Disable enter/exit animations"

[2019-08-06 19:45] #154 closed

[2019-08-06 19:51] faruktoptas opened #155 "roundRectRadius can't be set 0"
Making a rectangle focus by setting roundRectRadius to 0.

[2019-08-06 19:51] #155 closed

[2019-08-09 02:54] nofurylion opened #156 "How to stop the view from persisting when fragment is destroyed"
### Steps to reproduce the problem:
1. Use navigation component
2. Call  FancyShowCaseView on fragment A
3. Press hardware back button
4. FancyShowCaseView still visible

### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)
In Fragment onViewCreated() method I set OnClickListener to a button that execute below code:
[code]
### Specifications (Android version, Device e

[2019-08-09 05:14] faruktoptas commented on #156
Hi @nofurylion,
The view is above the fragment so you should manually handle it by overriding backPress behavior.

[code]

[2019-08-09 05:14] #156 closed

[2019-09-03 11:53] pedromalta opened #157 "ViewPager/TabLayout functionality"
Would like to suggest/ask how to add a ViewPager + TabLayout (with small dots on the bottom) funcionality at the ShowCaseQueue, so users can go back and forward on the ShowCases.

If I would fork and implement it where would you suggest to start?

[2019-09-05 17:26] faruktoptas commented on #157
Hi @pedromalta
You can do by using custom views partially. But during the transition from one to another show case you will see exit then enter animations. Animations will prevent you to create this behavior. If you disable animations you can do it with next/prev buttons by manually writing your own queue(Because currently going to previous show case is not supported). But there is still a problem

[2019-09-06 10:31] Ramkumar810 opened #158 "Text not center"
## Issue title

### Steps to reproduce the problem:

### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)

Example:
In Activity onCreate() method I use the code below to show:
[code]
### Your layout.xml file if the focus is wrong

### Specifications (Android version, Device etc.):

[2019-09-06 12:00] faruktoptas commented on #158
@Ramkumar810 can you share a screenshot please?

[2019-09-10 11:41] pedromalta commented on #157
Huum ok, thanks. Yeap, upon trying to implement it I faced what you said. I figured it out with custom views and behaviors calling forward and backward. it ended up quite nicely thanks!

[2019-09-10 11:41] #157 closed

[2019-09-10 16:22] jpainam opened #159 "title text next to the view"
Hi, it's not actually an issue
I would like know how to move the text next to the view.
Gravity.TOP, .CENTER or BOTTOM work but do not do the job.
Maybe we can set the title relative to the position view.
Thank you for the great lib

[2019-09-11 10:25] faruktoptas commented on #159
Hi @jpainam you can set the position manually. Here is an example: https://github.com/faruktoptas/FancyShowCaseView/blob/f03f35c48bcb2bf8896fe1b47ac55e671ca4bac9/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L263

You can access focus position and sizes with `calculator.circleCenterX/circleCenter//focusWidth/focusHeight`
But you should take care of small screen size device.

[2019-09-11 10:25] #159 closed

[2019-09-11 11:32] jpainam commented on #159
But if I'm not using a custom view. How i can manually position the text? Please in Java.. I'm not familiar with Kotlin

[2019-09-11 11:50] faruktoptas commented on #159
You can't do it without using a custom view.

[2019-09-14 07:39] sabih1998 commented on #109
I have the same problem...

[2019-09-20 13:33] karthikbala83 commented on #151
@faruktoptas

We have migrated to androidX and facing the same issue for the version 1.2.1
Any idea how to fix it?

[2019-09-21 09:28] faruktoptas commented on #151
ContextCompat is under androidx.core:core:1.xx can you check that you have this package. If not try to add the dependencies below:
[code]

[2019-09-23 07:46] karthikbala83 commented on #151
@faruktoptas

Thanks for the updated.
I've added but i'm getting below error

Duplicate class org.intellij.lang.annotations.Flow found in modules annotations-13.0.jar (org.jetbrains:annotations:13.0) and annotations-java5-15.0.jar (org.jetbrains:annotations-java5:15.0)

If i remove
implementation 'androidx.core:core-ktx:1.1.0'

Then there is no error.

[2019-09-25 07:16] davidgerka opened #160 "The new version is not supported ConstraintLayout ？"
![image](https://user-images.githubusercontent.com/13624423/65577658-d1447300-dfa6-11e9-9309-44d58461d780.png)
![image](https://user-images.githubusercontent.com/13624423/65577878-46b04380-dfa7-11e9-8db2-edb5f368acd7.png)
![image](https://user-images.githubusercontent.com/13624423/65577931-62b3e500-dfa7-11e9-9562-4ad033af48d4.png)

[2019-09-30 09:15] ReddyAswiniReddy opened #161 "FancyShowCaseView not hiding"
## FancyShowCaseView not hiding

 I'm using custom View
 In that  layout on click of one of the button  im calling " fancyShowCaseView?.hide()"
 Still Some times show case view is not hiding.

please find my code below how i'm setting Listener  for that.

Example:
 var fancyShowCaseListener = object : OnViewInflateListener {
        override fun onViewInflated(view: View) {
            view.btnOk?

[2019-09-30 12:40] faruktoptas commented on #161
Did you checked that fancyShowCaseView is not null.

[2019-10-01 10:58] bhoomishah20 commented on #161
Hello @ReddyAswiniReddy , I have also faced the same issue, For me it was initializing fancyShowCaseView two times, and hence I was not able to hide on click of view.
 Check if you're facing same or not. Just check it should initialize once only.

[2019-10-04 09:51] MrSagarShah commented on #158
I am facing the same issue but only in the devices which has a notch screen.

[2019-10-04 10:30] Ramkumar810 commented on #158
sorry,  I am using custom  FancyShowCaseView.

*Regards,*
*Ramkumar* |  Principal Software Engineer
+91 9597282954 |  ramkumar.perumal@adyog.com

  <https://www.facebook.com/adyog.software.solutions>
<https://www.linkedin.com/company/adyog>  <https://twitter.com/Adyog>

On Fri, Oct 4, 2019 at 3:21 PM Sagar Shah <notifications@github.com> wrote:

[2019-10-15 15:10] faruktoptas commented on #160
@davidgerka

I think this is a ConstraintLayout dependency problem. Can you inflate this layout without FancyShowCaseView?

Dou have this dependency in app/build.gradle ?

`implementation 'androidx.constraintlayout:constraintlayout:1.1.3'`

And these lines in gradle.properties

[code]

[2019-10-24 15:01] faruktoptas opened #162 "Conver internal classes to "internal class""
Classes to be converted:
* FancyImageView
* Calculator

[2019-10-24 15:02] faruktoptas opened #163 "Gradle and library updates"
Update all dependencies to the latest stable ones.

[2019-10-24 15:03] faruktoptas opened #164 "Move some logic to testable classes"
FancyShowCaseView.kt contains too many logic to be separated to another small, non-ui related, testable classes.

[2019-10-24 15:44] YuetChan commented on #162
Hi I would like to working on this issue. Thank you

[2019-10-24 16:16] faruktoptas commented on #162
Thanks PRs welcome :)

[2019-10-24 16:56] YuetChan commented on #162
Do I just need to add internal keyword to both class Calculator in Calculator.kt and class FancyImageView in FancyImageView.kt? Do I have to edit any other file? I would appreciate your hel and feedback.

[2019-10-24 18:24] YuetChan commented on #162
After I add internal keyword to the FancyImageView, the FancyShowCaseViewTest shows compiler error.
Since FancyImageView becomes internal in me.toptas.fancyshowcase, FancyShowCaseViewTest cannot access FancyImageView.

[2019-10-24 20:57] tuhinadasgupta commented on #163
updated gradle depency #165

[2019-10-25 09:15] faruktoptas opened #167 "Run espresso tests on travis-ci"
All test cases should be run on each push.

[2019-10-25 09:24] faruktoptas commented on #167
Sample .travis.yml file: https://github.com/material-components/material-components-android/blob/master/.travis.yml

[2019-10-25 20:42] YuetChan commented on #162
Thanks for the advise!
After I google search on @VisibleForTesting, it seems like @VisibleForTesting does not actually change the viability of a class/function. If a class is internal/private/public, its visibility is internal/private/public. Adding @VisibleForTesting will provide message when class/function is used in production code.
Do I consider adding @VisibleForTesting(otherwise = VisbleForT

[2019-10-26 12:52] faruktoptas commented on #162
I think the best way is moving the tests under library folder. Currently tests are running under app module.

[2019-10-27 07:08] YuetChan commented on #162
Do you mean moving the tests from app modules to fancyshowcaseview module?

[2019-10-27 19:01] faruktoptas commented on #162
Yes. But it should be another task.

[2019-10-27 23:16] YuetChan commented on #162
In summary, to convert internal class to "internal class", internal need to be added to FancyImageView and Calculator . After adding internal to FancyImageView and Calculator, FancyShowCaseViewTest need to be moved under fancyshowcaseview module.  Moving FancyShowCaseViewTest under fancyshowcaseview module should be another task.
Please correct me if I misunderstand the issue. Thank you.

[2019-10-28 06:51] faruktoptas commented on #162
After this investigation the scope is changed a bit.
* `FancyImageView` should be internal and
* `DISABLE_ANIMATIONS_FOR_TESTING` will be moved under `Calculator`.

[2019-10-28 14:47] clockworkant commented on #108
This doesn't work. The showcase view isn't dismissing when the focus view is pressed.

[2019-10-28 15:12] faruktoptas commented on #108
If you enable touching on focused view the showcase doesn't dismiss. If you want to dismiss it you have to call `FancyCaseView.hideCurrent(this)` method.

[2019-10-28 16:10] akhilmaskeri commented on #167
hi, I would like to work on it.
Can you please assign this to me ?

[2019-10-28 16:37] faruktoptas commented on #167
Hi @akhilmaskeri you can start working on this task.

[2019-10-28 17:21] Walikdik commented on #44
Can I start working on this please?

[2019-10-28 17:23] faruktoptas commented on #44
@Walikdik Sure you can start.

[2019-10-28 18:13] akhilmaskeri commented on #167
this is something I came up with
[code]

referencing the sample travis.yml, want to know if
adding -PdisablePreDex flag to a library build makes any performance differences

[2019-10-28 18:52] faruktoptas commented on #167
At first we can go on without disabling pre dexing. We may use it later.

[2019-10-29 00:08] faruktoptas commented on #163
Fixed with #165 and #166

[2019-10-29 00:08] #163 closed

[2019-10-29 09:08] Rajnish23 commented on #161
Hello @ReddyAswiniReddy , I tried using customview. I added log in onClickListener, on multilple click custom view FancyShowCaseView is getting initializing again and again. Below are the logs what I got.

2019-10-29 12:04:45.071 29166-29166/me.toptas.fancyshowcasesample D/Initialize: View
2019-10-29 12:04:46.208 29166-29166/me.toptas.fancyshowcasesample D/Initialize: View
2019-10-29 12:04:46.705

[2019-10-29 09:40] clockworkant commented on #108
Hi @faruktoptas, please forgive my flippant comment earlier. I appreciate you replying.

I'd like to be able to hide the fancy view without changing the implementation of the `FocusView`. I think you are suggesting that I modify the `FocusView` onClickListener behaviour to call `FancyCaseView.hideCurrent(this)`. I'd rather not do this as I want to keep a separation of concerns.

I've looked at the

[2019-10-31 13:14] NateshR commented on #107
this is still now working. I am calling it in `onViewCreated`, whole screen is getting focused, not on single view.

[2019-10-31 20:41] faruktoptas commented on #107
@NateshR view should be inflated when you call `show` method otherwise view width/height values will be 0. If you share the code snippet to show your implementation I can see the problem.

[2019-11-03 17:19] #162 closed

[2019-11-04 07:57] faruktoptas commented on #160
I couldn't see any problem with ConstraintLayout. If there is a bug. Please reopen the issue with reproduce steps.

[2019-11-04 07:57] #160 closed

[2019-11-04 07:59] faruktoptas commented on #161
I saw a problem with custom views. FancyImageView is being added into the show case multiple times. But it still can be hidden. @bhoomishah20 @ReddyAswiniReddy is this your bug?

[2019-11-04 08:01] faruktoptas commented on #158
Closed for inactivity. If there is still a bug with the latest release. Please reopen the issue with a screenshot and steps to produce the bug.

[2019-11-04 08:01] #158 closed

[2019-11-11 09:18] bhoomishah20 commented on #161
@faruktoptas yes

[2019-11-15 06:40] faruktoptas opened #171 "Fix codacy code quality issues"
Fix issues listed on codacy.
https://app.codacy.com/manual/faruktoptas/FancyShowCaseView/issues

[2019-11-15 09:24] eric-muchiri commented on #171
I can try issues on the readme.md

[2019-12-11 20:56] Lars3n95 opened #175 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) due to Kotlin Code in Java?"
### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)

In Fragment onCreateView() method I use the code below to show:
[code]

I got quite a view Crash reports with following title/message:

**Title:**
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)
libart-compiler.so

**Stacktrace**
[code]

**Why am I posting this here?**
At this stackoverflow question [link](https://stacko

[2019-12-12 10:21] faruktoptas commented on #175
Hi @Lars3n95 this is an interesting case. I'm not sure that the crash is related to library. But I've made a quick search on so. Some usages of onDraw() or memory leaks may cause this crash.
Do you use `android:hardwareaccelerated` ?

[2019-12-12 16:13] Lars3n95 commented on #175
@faruktoptas what do you mean with use? According to the [docs](https://developer.android.com/guide/topics/graphics/hardware-accel) it is enabled by default. But I have not explicitly enabled it by myself. I am also not drawing something with `onDraw()` myself.

[2020-01-09 06:04] DanteAndroid opened #177 "exitAnimation cannot be null"
I'd like to disable exit animation but in v1.1.5, `exitAnimation` cannot be set to null.
[code]
Another problem is, I tried to set `AlphaAnimation` to exitAnimation just to find that, the showCaseView cannot be hidden by `showCaseView.hide()`.

[2020-01-17 17:46] faruktoptas commented on #177
Hi @DanteAndroid ,

The new features and bug fixes won't be in non-androidx version. I recommend you to use the latest (androidx) version.

[2020-01-17 17:46] #177 closed

[2020-01-26 20:07] faruktoptas commented on #164
Fixed with #173

[2020-01-26 20:07] #164 closed

[2020-03-05 07:08] kapilb145 commented on #91
thanks its work perfectly

[2020-03-06 13:39] LuizMoura opened #178 "onEnterAnimationEnd is not called when using custom enterAnimation"
I was trying disabling the animations in-between FancyShowCaseQueue's queue.show(), trying to make so that only the first Enter and the last Exit animations on the queue played.
My problem is that even setting the Enter and Exit animations to AlphaAnimation(1f, 1f) which is basically a "don't do anything" animation, there is a tiny "flicker" between itens

Trying to solve this, I notice that the p

[2020-03-06 13:55] faruktoptas commented on #178
Hi @LuizMoura
I'm planning to optionally disable in-between animations for queue.

- If you set a custom animation you can add an animationEnd listener to the animation.
- I will try to find out if there is a bug with circular enter/exit animations.
- I think the reason of flicker is detaching and re-attaching the view to the during transition to the next item of the queue. I planning to implement

[2020-03-23 17:23] Fridaythe13thapp commented on #158
@faruktoptas I'm facing the same issue. I'm testing on a Oppo device with a notch and no matter what gravity I set via .titlestyle(R.style.textsyle, Gravity._whatever here_), the title always appears on the top center.
![Screenshot_2020-03-23-23-08-09-84_b9ce010f083a3a7efe58a6f596c48155](https://user-images.githubusercontent.com/59734501/77344386-3103b700-6d5b-11ea-9aee-2f36c3e43f33.png)
![IMG2020

[2020-03-23 17:54] faruktoptas commented on #158
@Fridaythe13thapp if you want to center it vertically you can try `enableAutoTextPosition()` in your builder.

[2020-04-06 19:23] faruktoptas commented on #109
Fixed by setting Typeface to builder with #179

[2020-04-06 19:23] #109 closed

[2020-04-12 12:52] Seeyko opened #180 "Fragment sequence first showcase not focusing view"
### Screenshot
First view not focusing
![image](https://user-images.githubusercontent.com/26721235/79069226-f099b800-7ccc-11ea-8a92-82bc7b998d51.png)

Second view focusing correctly
![image](https://user-images.githubusercontent.com/26721235/79069234-f8f1f300-7ccc-11ea-89af-e9bbbfaa02b2.png)

### My code
In my fragment onViewCreated i initialize my sequence like this just after creating my two but

[2020-04-12 13:17] faruktoptas commented on #180
@Seeyko I think your views are not laid out when you create the instance.
Can you try to add a delay or use post:
[code]

[2020-04-12 16:01] Seeyko commented on #180
@faruktoptas Thanks for the reply ! It work fine now that i have add a delay.

[2020-04-12 16:01] #180 closed

[2020-05-04 08:19] mvij opened #181 "java.lang.IllegalStateException: Cannot start this animator on a detached view!"
Getting the crash log from crashlytics
Fatal Exception: java.lang.IllegalStateException: Cannot start this animator on a detached view!
       at android.view.RenderNode.addAnimator + 837(RenderNode.java:837)
       at android.view.RenderNodeAnimator.setTarget + 295(RenderNodeAnimator.java:295)
       at android.view.RenderNodeAnimator.setTarget + 280(RenderNodeAnimator.java:280)
       at android

[2020-05-04 16:22] faruktoptas commented on #181
Please fill all necessary fields in the issue template. https://github.com/faruktoptas/FancyShowCaseView/blob/master/ISSUE_TEMPLATE.md

[2020-05-06 08:10] abdelrahmanhesham13 opened #182 "Circular Background"
Is there anyway to make the background of the fancy show case circular ?

[2020-05-06 09:10] faruktoptas commented on #182
Currently it supports fullscreen backgrounds. Or you can create your custom views. Here is an example of custom view:
https://github.com/faruktoptas/FancyShowCaseView/blob/master/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L246

[2020-05-06 09:10] #182 closed

[2020-05-06 09:14] abdelrahmanhesham13 commented on #182
it won't work with custom view animation and circle indicator will not work

[2020-05-06 09:18] faruktoptas commented on #182
Why it won't work?

[2020-05-06 09:23] abdelrahmanhesham13 commented on #182
i need to create circular background while the library provide it own background and animation for circle indicator i try it and it override the library background with no animation and circle indicator

[2020-05-06 11:27] faruktoptas commented on #182
You can use a transparent background for FancyShowCaseView

[2020-05-07 04:41] jaypratapsingh opened #183 "Show above alert dialog"
Hi, I just want to show this view above alert dialog as an overlay view. How can I achieve it?

[2020-05-07 06:55] faruktoptas commented on #183
Unfortunately it not supported. Because dialogs are shown on top of other views.
Duplicate of #79

[2020-05-07 06:55] #183 closed

[2020-05-07 15:34] jaypratapsingh commented on #183
Okay, Can you please let me know how it is working, it is creating an overlay screen above the activity/fragment?

[2020-05-07 15:49] faruktoptas commented on #183
Yes it is a FrameLayout added as a child view into the root view of activity. Here you can see the code: https://github.com/faruktoptas/FancyShowCaseView/blob/master/fancyshowcaseview/src/main/java/me/toptas/fancyshowcase/FancyShowCaseView.kt#L135

[2020-05-15 10:27] AravinthSri opened #184 "DialogueFragement and ChildFragment of DialogueFragment, I was implemented in FancyShowCaseView That is not working"
### Used FancyShowCaseView version 1.3.0

Base Class
[code]
In DialogueFragment onCreateView() method I use the code below to show:
1st time tried using traget id but  crached.
[code]

### Crashed
[code]

2nd time tried using the register view in DialogueFragment.  I used some other target views also but no focus was appear and no crash.

[code]
Kindly guide me please.

### But it was appear in pa

[2020-05-15 10:30] faruktoptas commented on #184
Please fill all necessary fields in the issue template. https://github.com/faruktoptas/FancyShowCaseView/blob/master/ISSUE_TEMPLATE.md

[2020-05-15 10:57] AravinthSri commented on #184
Sorry for the inconvenience,  Please check now.

[2020-05-15 12:58] faruktoptas commented on #184
Can you check that the views you are trying to focus are not null? It seems that one of the views is null.

[2020-05-15 18:10] AravinthSri commented on #184
When I replace as Dialogue Fragment to Fragment means, It is working fine. But when I use as a DialogueFragment means view are fouced on parent fragment, When i dismiss the DialogueFragment that fouce was appear on parent fragment.

[2020-05-20 05:32] sandeeptank52 commented on #184
I am facing the same problem.
it's not showing on DialogFragment but after dismiss its show on parent fragment.
Any solution for this?

[2020-05-20 15:50] faruktoptas commented on #184
@AravinthSri @sandeeptank52 This is known issue. Dialogs are shown on top of all views. Unfortunately there is no support for dialogs now. FancyShowCaseView is a FrameLayout added to the root view of the activity. So all dialogs are shown in front of it.
PRs welcome If you want to contribute to support dialogs :)

[2020-05-21 03:04] AravinthSri commented on #184
Thanks for the response :)

[2020-05-25 15:40] amodkanthe opened #186 "CustomView overlaps with targetview no option to place CustomView respect to TargetView position and size"
Need option to align cutom view with respect to TargetView like above or below TargetView
[code]
![image](https://user-images.githubusercontent.com/5066441/82827979-c0e5ee80-9ecd-11ea-8810-5a5f75e67d43.png)

[2020-05-25 15:54] amodkanthe opened #187 "Allow adding subtitle have to create Customview just for that"
Subtitle is required have to create custom view just to add sub title

[2020-05-25 16:36] faruktoptas commented on #187
You can use custom views to add subtitles or any other views.

[2020-05-25 16:36] #187 closed

[2020-05-25 16:42] amodkanthe commented on #186
updated question title

[2020-05-25 16:43] amodkanthe commented on #187
Custom view causing lots of alignment issue reported issue regarding that as well

[2020-05-25 19:46] faruktoptas commented on #186
Here is a sample custom view usage https://github.com/faruktoptas/FancyShowCaseView/blob/0a87068da0bc96e7a9cb69994cb6ce713d7830b1/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L253.

You can access the focus position to align your views.

[2020-05-25 19:46] #186 closed

[2020-05-25 19:48] faruktoptas commented on #181
Closed due to inactivity. Posibble duplicate of https://github.com/faruktoptas/FancyShowCaseView/issues?q=is%3Aissue+is%3Aclosed+detached+

[2020-05-25 19:48] #181 closed

[2020-05-25 19:59] amodkanthe commented on #186
yeah already checked that I want to set custom view on left/right side of target view or top/bottom is that possible was able to see layout params only

[2020-05-25 20:01] faruktoptas commented on #186
If you click the link you can see the code below:
[code]

[2020-05-25 20:13] faruktoptas commented on #20
I think `.enableAutoTextPosition()` solves this. It finds the biggest space vertically and centers in it.

[2020-05-25 20:13] #20 closed

[2020-05-25 20:15] faruktoptas commented on #44
I think this is not needed any more.

[2020-05-25 20:15] #44 closed

[2020-05-25 20:16] faruktoptas commented on #125
JUnit and Espresso tests added.

[2020-05-25 20:16] #125 closed

[2020-05-25 20:19] amodkanthe commented on #186
oh got it thanks will try this

[2020-05-25 20:25] faruktoptas commented on #161
This issue must be fixed with the latest version.

[2020-05-25 20:25] #161 closed

[2020-06-09 09:43] divyancod commented on #107
It is not working when the activity is resumed. When we switch app the showcase items are not clickable.

[2020-06-09 09:46] divyancod opened #190 "Not working after switching apps"
The Fancyshowcaseview is not operatable when we switch app.
It stuck there and there is no clicking on the screen. Even the buttons on custom layouts are not responding.

[2020-06-09 11:30] faruktoptas commented on #190
Please fill all necessary fields in the issue template. https://github.com/faruktoptas/FancyShowCaseView/blob/master/ISSUE-TEMPLATE.md

[2020-06-11 23:04] jeffreyliu8 opened #191 "When running on an OS with no status bar or status bar hidden, y value is off"
![Screen Shot 2020-06-11 at 4 00 06 PM](https://user-images.githubusercontent.com/12398645/84447592-3c011180-abfd-11ea-8cc7-175c082a9c2f.png)

[2020-06-12 11:23] faruktoptas commented on #191
Please check fitSystemWindows()

https://github.com/faruktoptas/FancyShowCaseView/wiki

[2020-06-12 11:23] #191 closed

[2020-06-12 19:59] #190 closed

[2020-06-14 19:22] lhllyra commented on #171
Hey, so I have been trying to get the project up and running on Intellij to take a closer look at the code and see if I could be of any help.

I wasn't able to get too far though, as I have run into some problems when trying to build the project through gradle.

I tried to build the program ("gradle build" command) to run the debugger and got this build failed message:

Failed to install the follo

[2020-06-14 20:08] faruktoptas commented on #171
You can try installing Android Studio. It will be easy to install and accept Android SDK and other prerequisites.

[2020-06-14 20:12] lhllyra commented on #171
Well, that is my last resort. I have run " yes | sdkmanager --licenses ", and it ran without any hiccups. So I just might try and do that.

[2020-06-15 13:54] Happeal commented on #63
I have the same problem here :

FancyShowCaseView.Builder(activity)
            .fitSystemWindows(true)
            .focusOn(focus)
            .focusBorderColor(activity.resources.getColor(R.color.colorPrimary))
            .disableFocusAnimation()
            .titleSize(19, TypedValue.COMPLEX_UNIT_DIP)
            .title(activity.getString(text))

[2020-06-15 14:01] faruktoptas commented on #63
@Happeal can you share a screenshot please?

[2020-06-16 11:35] shahbazhashmi opened #192 "How to add margin to title ?"
I am using below style. Everything is working except the margin.

 <style name="ShowcaseTextStyle" parent="Widget.AppCompat.TextView">
        <item name="android:layout_width">wrap_content</item>
        <item name="android:layout_height">wrap_content</item>
        <item name="android:layout_margin">@dimen/spacing_40</item>
        <item name="android:textSize">@dimen/font_22</item>
        <ite

[2020-06-16 11:39] faruktoptas commented on #192
Can you share the full style and your implementation?

[2020-06-16 14:34] Happeal commented on #81
I agree I need to focus on the three dot menu not on a specific item ( I just have an actionbar without toolbar.getView() )

[2020-06-16 14:39] Happeal commented on #81
I agree I need to focus on the three dot menu not on a specific item ( I just have an actionbar without toolbar.getView() )

I face this error :
[code]

with this code :
[code]

[2020-06-16 16:10] faruktoptas commented on #81
@Happeal As you see in the trace view is null. Because you are trying to access view in onCreateOptionsMenu(). I think the view is not laid out yet.

[2020-06-17 07:16] shahbazhashmi commented on #192
above is the style and below is my implementation

FancyShowCaseView.Builder(activity)
                .focusOn(view)
                .title(text)
                .titleStyle(R.style.ShowcaseTextStyle, gravity)
                .enableAutoTextPosition()
                .build()
                .show()

[2020-06-17 07:34] faruktoptas commented on #192
Title style is applying to textAppearance. So you can't set margin with this style. It includes text color, typefaces or text sizes etc. For more details: https://medium.com/androiddevelopers/whats-your-text-s-appearance-f3a1729192d
If you want to set custom margin you should use custom view.

[2020-06-17 07:34] #192 closed

[2020-06-17 11:33] shahbazhashmi commented on #192
Okay. But it would be if you can add this feature. I mean it is very common requirement.

[2020-06-19 11:13] Meta-Ben opened #193 "Bad focus on certain device / screen"
( Nice issue template btw ;) ) and sorry for having comment multiple issue I mean it's better that I open my own issue

### Used FancyShowCaseView version
1.3.0

### Screenshot if there is something wrong with ui
<img width="388" alt="Capture d’écran 2020-06-19 à 12 59 06" src="https://user-images.githubusercontent.com/25056111/85126508-e98fa880-b22d-11ea-9894-4362b431757b.png">

### How you sho

[2020-06-19 13:45] faruktoptas commented on #193
Can you share the code that you show the FancyShowCaseView?

[2020-06-19 13:48] Happeal commented on #193
here it is :

[code]

[2020-06-19 13:49] faruktoptas commented on #193
Thanks @Happeal which view are you trying to focus? Can you also share the layout.xml file please?

[2020-06-19 13:51] Happeal commented on #193
ofc the view is the following

[code]

on the xml I provide you in my first post
Thank you to try solving my problem 😄

[2020-06-19 13:57] faruktoptas commented on #193
you welcome :)
I think the problem is that when you build FancyShowCaseView.Builder() the scrollview has no children views. You add views dynamically in to the scrollview otherwise it should be a 0 height view.
Can you try showing the showcase after a delay inside a `list.postDelayed()`  method?

[2020-06-19 13:59] Happeal commented on #193
I will try this 😄  and I will return to you for the result but why this work well on another device and fail on the nexus 4 ?

[2020-06-19 14:16] Happeal commented on #193
Unfortunately the problem is the same with a Delayed ( I put it to 1000ms by range of 100 ) 😞

[2020-06-19 14:18] faruktoptas commented on #193
- How do you populate the scrollview?

- And can you clone this repository and run the samples? If samples work well, there is a problem with the device or your implementation.

[2020-06-19 14:25] faruktoptas commented on #193
- Do you have actionbar/toolbar?
- Can yoy also share your theme style?

[2020-06-19 14:35] Happeal commented on #193
Okay,

- How I populate the scrollview  :

[code]

- I will try it soon and return with the result 😄

- Yes I have an actionbar : an android basic one
`Theme.AppCompat.Light.DarkActionBar`

- There is the theme style :

[code]

a basic one too 😛

Yeah I hesitate between my implementation and a device problem because on other screen with nexus 4 it work well sooo its very weird .. but like you say

[2020-06-19 15:09] Happeal commented on #193
the sample run well on the nexus 4

[2020-06-19 15:15] faruktoptas commented on #193
Interesting.
Samples don't contain ConstraintLayout may be there is an edge case with ConstraintLayout. I have to test.
Can you try using RelativeLayout instead of ConstraitLayout?

[2020-06-19 15:16] Happeal commented on #193
Yep I will try :)

[2020-06-22 08:19] faruktoptas commented on #107
@divyancod can you share more details please?
- Your implementation
- layout xml file
- Screenshots

[2020-06-22 11:55] Happeal commented on #193
I'll try but still same problem , My others screen are also ConstraintLayout but it work well on them

[2020-06-22 12:17] Happeal commented on #193
The only diff is that view is construct bottom to Top not top to bottom

[2020-06-22 20:13] faruktoptas commented on #193
Can you provide me a sample project? I need to debug it.

[2020-06-22 22:15] XandiVieira opened #194 "How to call the "next" showcaseview?"
### Used FancyShowCaseView version 1.3.0

### I'm calling the FancyShowCaseView  in my java code and is displays just fine. I'ts a custom view with a "next" button, so I'd like to open another FancyShowCaseView  for the same screen but nothing happens, the method is triggered but nothing happens, the current FancyShowCaseView   does not close and the new one won't open.

Example:
In Activity onCre

[2020-06-23 09:26] Happeal commented on #193
Unfortunately I can't for now 😞

[2020-06-23 09:42] Happeal commented on #194
Use FancyShowCaseQueue work fine 😄

[2020-06-23 12:59] faruktoptas commented on #193
Ok. I can see that there is a map on the layout. But the layout.xml file that you shared doesn't contain the map or the bottom views. Can you share the full layout?
And which one is the expected behavior below, green or red?

<img width="560" alt="Screen Shot 2020-06-23 at 15 58 16" src="https://user-images.githubusercontent.com/1595227/85406445-7f973c00-b56a-11ea-9dc0-2efd457d829b.png">

[2020-06-23 13:04] faruktoptas commented on #194
@XandiVieira you can use FancyShowCaseQueue or your own implementation with custom views. You should check samples:
https://github.com/faruktoptas/FancyShowCaseView/blob/554362401b83baa33290d6471fe8e6815a9f907b/app/src/main/java/me/toptas/fancyshowcasesample/AnimatedActivity.kt#L38

Also you have to call `hide()` method before showing the next one.

[2020-06-23 13:04] #194 closed

[2020-06-23 14:03] Happeal commented on #193
Ofc the red rectangle is the one :) I can explain more the code here :

Here is the full view :

[code]

then in this code the constraintLayout block is inflated dynamically by the view I give you on my first post

[2020-06-23 14:10] faruktoptas commented on #193
Thanks :)  Dynamic inflation may cause this but I will debug it.

[2020-06-23 14:37] Happeal commented on #193
I change the constraint layout by a Linear btw ( the empty layout ) but same problem :/

[2020-06-26 10:09] Happeal commented on #193
Hi @faruktoptas did you succeed ? 😄

[2020-06-27 08:18] faruktoptas commented on #193
Not yet :)
I need to reproduce the buggy behavior at first.

[2020-06-29 12:57] Happeal commented on #193
Okay let me know because I don't succeed to fix it 😞

[2020-06-29 12:59] faruktoptas commented on #193
The process will be faster if you provide me a sample with the steps to reproduce the bug.

[2020-06-30 16:02] Happeal commented on #193
When I use the fitSystemWindow it may fix some trouble on little device but cause damage on bigger device :/

[2020-06-30 16:10] Happeal commented on #193
Okay I think there is a problem in your lib with constraint layout ... ( when we don't set bottom or top and the height is on wrap content ) the showcase can figure out the limit of the top and the limit of the bottom

[2020-07-08 15:36] glureau-betclic commented on #193
You have no vertical contraint at all?

[2020-07-08 15:56] glureau-betclic opened #195 "Feature request: open API to be able to use circular animation"
Currently the FadeInAnimation and FadeOutAnimation are internal, the doCircularExitAnimation() is private, even the extension circularExitAnimation() is internal.
Due to that, I can't decide to play a "FadeInAnimation" on the exit, or a "FadeOutAnimation" on the enter.

Want to know if it worth my time to work on it :)

[2020-07-08 20:17] faruktoptas commented on #195
These animations are internal animations. Library decides itself to choose one. If you want to use fade animation  you can create your own and use freely. Here is an example: https://github.com/faruktoptas/FancyShowCaseView/wiki/4.-Custom-Enter&Exit-Animations

[2020-07-08 20:17] #195 closed

[2020-07-08 20:24] faruktoptas commented on #193
I get the position with `view.getLocationInWindow` method. There is also an adjust height equals to statusBar height.
https://github.com/faruktoptas/FancyShowCaseView/blob/916271f068f92ae1c6abe2b0f3e5275279b50144/fancyshowcaseview/src/main/java/me/toptas/fancyshowcase/internal/Presenter.kt#L138

[2020-07-10 09:03] glureau-betclic opened #196 "Feature request: be able to transition from a focus to another"
Currently when using the library with multiple focus, I have the circular effect.
Sometimes I'd just have the focused zone than translate to the next focus point.
Could we imagine a transition from the previous to the next focus? (while fade in/out the 2 custom views)

[2020-07-10 09:16] faruktoptas commented on #196
You can chain multiple instances with FancyShowCaseQueue and set custom enter/exit animations. Does it solve your problem?

[2020-07-15 09:56] glureau-betclic commented on #196
Not exactly. I'd have a translation of the erasePaint rectangle between each steps. Like if the rectangle was moving from one focus to another, to avoid the circleOut/circleIn effect that is a bit too brutal in my case.

[2020-07-16 11:45] AdrianLxM opened #197 "Animations won't "turn" unless parameters match"
### Used FancyShowCaseView version 1.3.0

### Class/File: `FancyImageView.kt`

## Issue part 1:
[code]
`DEFAULT_ANIM_COUNTER` is `20`. Therefore a `focusAnimationMaxValue < 20` would lead to a situation where the animation never turns as it is already past the limit.

##  Issue part 2:
[code]
The `step` only changes sign (direction) if `focusAnimationMaxValue` or `0` is *exactly* hit. This leads t

[2020-07-16 11:51] faruktoptas commented on #197
Hi @AdrianLxM thanks a lot you catch a good point 👍
You can base upon master branch.

[2020-07-17 19:50] faruktoptas commented on #197
Fixed with #198

[2020-07-17 19:50] #197 closed

[2020-07-17 20:09] faruktoptas opened #199 "Setup Github actions"
Setup Github actions that triggers on PR and runs all unit tests.

[2020-07-17 20:12] faruktoptas commented on #167
Closed due to inactivity. Unit tests are used instead of Espresso.

[2020-07-17 20:12] #167 closed

[2020-07-17 20:23] faruktoptas commented on #196
I understand. I tried to do it with a different implementation of FancyShowcaseQueue but there was another problem I faced with. Each instance is a view and should be detached/re-attached. There is still a flickering during transitions.
I'm thinking about another solution. One instance with multiple targets. FancyImageView should change the focus target dynamically. This is also not easy. Because

[2020-07-23 21:12] faruktoptas opened #201 "Wrong focus for scaled views"
Wrong focus if scaleX/scaleY value of the view is other than 1.0

[2020-07-23 21:15] faruktoptas commented on #201
Fixed with #200

[2020-07-23 21:15] #201 closed

[2020-07-28 13:53] muarachmann opened #202 "Cannot Access Kotlin unit"
### Used FancyShowCaseView version
 me.toptas.fancyshowcase:fancyshowcaseview:1.3.1

### Screenshot if there is something wrong with ui

All is fine just that I cant hide it manually. I am detecting if there is  a click on the backbutton and if
fancy was currently showing then hide it.

### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)

[code]

### Error
[code]

##

[2020-07-28 14:23] faruktoptas commented on #202
@muarachmann can you share your build.gradle file please?

[2020-07-28 14:37] muarachmann commented on #202
@faruktoptas here

[code]

[2020-07-28 14:40] faruktoptas commented on #202
This library is written in kotlin language. So you need to add kotlin dependency to your project.

[2020-07-28 15:14] muarachmann commented on #202
Ok, will do that.

Thanks

On Tue, Jul 28, 2020 at 3:40 PM Faruk Toptaş <notifications@github.com>
wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akivas.com/>
Akwa, Douala,CM 00237 | 174 Royal Rd, Cape Town, WC 7405, SA
Phone: (237) 670-518-086

[2020-07-29 06:50] faruktoptas commented on #202
@muarachmann Is your problem solved?

[2020-07-29 07:07] muarachmann commented on #202
Hi there,

It’s definitely e solution. I will apply the Kotlin plugin when I can.
Thanks feel free to close the issue. What I was worried is that with
previous versions it worked just fine never knew it was to be changed to
Kotlin afterwards.

Regards

On Wed, 29 Jul 2020 at 07:50 Faruk Toptaş <notifications@github.com> wrote:

--

*MUA N. LAURENT*: Lead Software Engineer
Akivas Inc. <https://akiv

[2020-07-29 08:52] #202 closed

[2020-08-24 11:27] amethystant opened #205 "Title ignores vertical gravity"
Used FancyShowCaseView 1.3.1

I'm focusing on a button in a fragment. The focus is right, but the title always stays on top of the screen no matter what gravity I set. It doesn't ignore horizontal gravity though, if I set it to CENTER, it centres the text but only horizontally. Vertical position never changes. It's not affected by what view I focus on and it's not affected by fitSystemWindows. I m

[2020-08-25 20:29] faruktoptas commented on #205
Thank you @amethystant. I've seen the bug. It will be fixed with the next release. You can also use `enableAutoTextPosition()` parameter to align the title vertically to the center of the bigger space.

[2020-08-26 04:39] lan2000 opened #206 "There is a problem with activity switching horizontal screen"
### Used FancyShowCaseView version ：1.3.1

Activity needs to achieve horizontal and vertical screen switching. After switching the horizontal screen, there is a problem, as shown in the figure below：

Configure Activity properties:
android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"

### Screenshot if there is something wrong with ui
![image](https://user-images.githubuserco

[2020-08-26 06:09] lan2000 commented on #206
There is another question: whether to support the use in Dialogfragment

[2020-08-27 02:19] lan2000 commented on #206
3.Can you add a new method to set read? When used for multiple prompts, click the function to ignore multiple prompts.

[2020-08-27 06:21] faruktoptas commented on #206
@lan2000 I will investigate the orientation problem. It was working but this could be another case.

This is a known issue #184 But PRs welcome :)

You can use `FancyShowCaseView.isVisible()`static method to see if there is a visible instance.

[2020-08-27 07:22] lan2000 commented on #206
Can add Skip function similar to MaterialShowcaseView.
For example, if showOnce(id) is enabled, 5 prompts should be displayed.
When it comes to the second one, the user can skip it. Do not prompt again next time.

After the user clicks skip
FancyShowCaseView.isShownBefore(id)==true

[2020-09-10 15:00] franquicidad opened #207 "Problem with custom views on ClickListener."
Hello that you for the atribution to the developer community once I get income from my app I will contribute.
no further due I created the following methods, what I want to do is to guide the user on how to use my app.

`public FancyShowCaseView createShowCaseForCircleImageView(View view, final String title, final String subtitle) {
        mFancyShowCaseView = new FancyShowCaseView.Builder(this)

[2020-09-10 15:20] franquicidad commented on #119
hello deepakcipl where you able to solve this . If so can you please share how you did it please?

[2020-09-10 19:43] franquicidad commented on #207
Hello kind sir, I decide to use the showEnQueue method and it is as follows.
`public void showEnQueue(){
        recyclerviewRelacionEscogeEmpresa.setVisibility(View.VISIBLE);
        recyclerSucursal.setVisibility(View.VISIBLE);
        recyclerviewRelacionEscogeEmpresa.setVisibility(View.VISIBLE);

        final FancyShowCaseView fancyShowCaseView1 = new FancyShowCaseView.Builder(this)

[2020-09-11 06:19] faruktoptas commented on #207
Hi @franquicidad
I think you've missed to use a `dismissListener`. If you use a queue with custom views you have to trigger the queue to show the next one. There is a sample here with custom layout and queue mechanism: https://github.com/faruktoptas/FancyShowCaseView/blob/master/app/src/main/java/me/toptas/fancyshowcasesample/CustomQueueActivity.kt

[2020-09-11 08:27] jama5262 commented on #205
@faruktoptas Wondering if this bug is fixed

[2020-09-11 11:12] faruktoptas commented on #205
@jama5262 It's not released yet. I'll release it asap.

[2020-09-11 18:55] franquicidad commented on #207
Thanks a lot!

[2020-09-13 19:24] faruktoptas commented on #205
@amethystant @jama5262 this bug is fixed with `1.3.2` version.

[2020-09-13 19:24] #205 closed

[2020-09-13 19:25] #207 closed

[2020-09-14 06:33] faruktoptas commented on #206
@lan2000 we can follow this from another issue as an enhancement.

[2020-09-17 08:15] orentropen opened #208 "Not Possible to Change Focus Size when using .focusShape(FocusShape.ROUNDED_RECTANGLE)"
Hello,
I am trying to create a large rectangular focus area. .focusRectAtPosition() allows me to set the size, but only for a rectangle at known coordinates. If I want to use .focusOn(View) in conjunction with .focusShape(FocusShape.ROUNDED_RECTANGLE), there is no function equivalent to .focusCircleRadiusFactor() for rectangles.
I recommend adding a new function, focusRectRadiusFactor(), that can

[2020-09-20 17:37] Dixzz commented on #205
Hello, I'm facing similar issue, the "text" is not horizontally centered nor Gravity.END is working
FancyShowCaseView version: 1.3.2

[code]
![Screenshot_1600623392](https://user-images.githubusercontent.com/33489151/93717844-04a7e680-fb96-11ea-87ad-8ba437274667.png)

[2020-09-20 17:45] Dixzz opened #209 "Gravity issue in Rounded Rectangle shape"
Hello, I'm facing similar issue to this #205, the "text" is not horizontally centered nor Gravity.END is working
FancyShowCaseView version: 1.3.2

[code]
![Screenshot_1600623392](https://user-images.githubusercontent.com/33489151/93717844-04a7e680-fb96-11ea-87ad-8ba437274667.png)

[2020-09-23 06:33] alishkumar opened #210 "EnableTouchOnFocusedView Not working in case of CustomView"
### version 1.1.5

### Screenshot if there is something wrong with ui

###

Example:
In Activity onCreate() method I use the code below to show:
[code]

### Your layout.xml file if the focus is wrong

[2020-09-23 19:20] faruktoptas commented on #208
Hi @orentropen
This feature does not exist now. If you are interested in contributing. PR's welcome 👍

[2020-09-23 19:30] faruktoptas commented on #210
Hi @alishkumar
Here is the sample: https://github.com/faruktoptas/FancyShowCaseView/blob/8ced4578762d5105f6973949a557461426d5240c/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt#L246

`enableTouchOnFocusedView` lets you click the focused view while show case is visible.

Can you share the wrong behavior?

[2020-09-23 19:31] #209 closed

[2020-09-23 19:33] faruktoptas commented on #175
Closed due to inactivity. Please reopen if you see this bug with the latest release.

[2020-09-23 19:33] #175 closed

[2020-09-23 19:35] faruktoptas commented on #178
Duplicate of #196

[2020-09-23 19:35] #178 closed

[2020-09-23 19:43] faruktoptas opened #212 "Add focus size factor for rectangular shape"
Add `focusRectSizeFactor` parameter for rectangle focus shape (like `focusCircleRadiusFactor` for circular). Default value should be 1.

[2020-09-23 19:44] faruktoptas commented on #208
Feature request issue created #212

[2020-09-23 19:44] #208 closed

[2020-09-23 20:11] #199 closed

[2020-09-24 06:30] #210 closed

[2020-09-29 18:25] rodrigo364 commented on #140
Hello, I would like a tip on how you managed to implement the backward option in lib

[2020-09-30 14:52] faruktoptas commented on #140
@rodrigo364 You shouldn't use a queue. Create all instances and set order as you want. Set an `animationListener` in builder then show the next/previous instance in `onExitAnimationEnd` method

[2020-10-05 14:54] gabrielbrandaodelima commented on #140
Can you post an example? I'm not sure if I understood how to do it.

[2020-10-05 15:44] andzejsw commented on #140
My Tutorial.java file:

[code]

[2020-10-06 11:27] gabrielbrandaodelima commented on #140
Thx for the code.

I was trying to do as you did.

Created an Array of FancyShowCaseView, but when I call queue.get(0).show();

It is not working...

Do you know why?

`
        mFancyShowCaseView = FancyShowCaseView.Builder(this)
                .showOnce("init")
                .customView(R.layout.layout_tutorial_dynamic, object : OnViewInflateListener {
                    override fun onViewI

[2020-10-06 17:34] gabrielbrandaodelima commented on #140
@andzejsw When you show a previous step, does your background also gets black, and not transparent?

[2020-10-07 11:12] andzejsw commented on #140
If I remember correctly, background was transparent. But I haven't worked long time with this project. It have been more than a year.

[2020-10-09 11:30] gabrielbrandaodelima commented on #140
I see ok thanks anyway.

Just last question. In your app, when you go one step back, does your FancyShowView also duplicate the focus view?
When I'm going one step back, and then forward, and then back again, each time I go back once, it replicates the focus view, like it's creating a stack of focusing views.

[2020-11-26 06:02] zihadrizkyef commented on #145
I think it will be great if you make the feature. So you make something like this

![image](https://user-images.githubusercontent.com/22538348/100313573-84fc2500-2fe7-11eb-83d2-b6035a03e87f.png)

[2021-01-19 14:09] HoussemNasri commented on #212
Is this still open, I wanna work on it

[2021-01-19 14:37] faruktoptas commented on #212
@HoussemNasri yes please.

[2021-02-11 14:14] TheFaithOne opened #216 "Consider migrating from jcenter"
Jfrog is going to deprecate and disable jcenter services - artifact migration will be needed

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-20 10:05] faruktoptas commented on #216
Moved to jitpack

[2021-02-20 10:05] #216 closed

[2021-02-20 12:45] #171 closed

[2021-03-26 15:44] mrez9 opened #218 "problem to focus on toolbar overflow menu items"
im trying to set FancyShowCaseView for items in overflow items of MaterialToolbar but view is null
 although fancyshowcaseview works for visible items in toolbar
My code : (calling this code in onPrepareOptionsMenu/onCreateOptionsMenu witn Runnable)
[code]
menu xml:
[code]
fancyShowCaseViewToolbar1 works fine but  fancyShowCaseViewToolbar2 dosent work
i tried remove group but still didnt work
Fanc

[2021-03-27 13:41] faruktoptas commented on #218
View is not laid out in onPrepareOptionsMenu/onCreateOptionsMenu  methods. Can you trigger your runnable in `view.post` or `view.postDelayed` methods?

[2021-03-27 13:42] faruktoptas commented on #148
@fahadfa you should add kotlin dependency to your project.
`compile "org.jetbrains.kotlin:kotlin-stdlib:$kotlin_version"`

[2021-03-27 20:21] mrez9 commented on #218
[code]
views inside toolbar work fine but view inside overflow menu is unreachable

[2021-03-29 19:36] faruktoptas commented on #218
You should access the view reference of menu items.

[2021-05-11 10:00] berkaksoyyy opened #220 "mavenCentral() support"
Android Studio 4.2 suggests change jcenter() to mavenCentral(). Will mavenCentral() be supported at future updates?

https://developer.android.com/studio/build/jcenter-migration

[2021-05-14 07:00] AskAndRecieve opened #221 "Slower focus animations"
First of all let me tell you that I really enjoy using your library!

And I’ve explored the wiki and the code and I know that I can make the focus animations faster by changing the animation steps.

but, I need to make it slower than 1 step, is such a thing possible as the code is now or do you need to make changes to accommodate for this feature?

[2021-05-15 13:21] faruktoptas commented on #220
Currently `jitpack` is used because of its easy usage.  But I'm planning to move to mavenCentral.

[2021-05-15 13:21] #220 closed

[2021-05-15 13:23] faruktoptas commented on #221
Thank you @AskAndRecieve
`focusAnimationStep` property is designed as an `Int` value. But it may be `Double` to support slower animations.
PR's welcome if you want to contribute.

[2021-05-16 06:58] AskAndRecieve commented on #221
Can you allow me pushing permissions? I want to create a branch and make a pull request :)

[2021-05-16 07:04] faruktoptas commented on #221
You don't need permission. Just fork and create PR.

[2021-05-16 07:52] AskAndRecieve commented on #221
Cool, I did it, hopefully it's all good!

[2021-05-21 15:20] AskAndRecieve commented on #221
What do we need to do now that the pull request failed tests?

[2021-06-10 12:03] #206 closed

[2021-08-18 17:41] Kritip123 commented on #212
### @faruktoptas
I want to contribute to the issue. Could you please explain the issue to me?

[2021-08-24 06:36] faruktoptas commented on #212
Hi @Kritip123,

Same implementation is done for circular focus. Please see `focusCircleRadiusFactor`. You will add a new parameter called `focusRectSizeFactor` with 1 default float value. When this value is changed, focused rectangle will be bigger or smaller.

[2021-08-28 11:38] kshitij-99 commented on #212
@faruktoptas is someone still working on this ? I can fix this.

[2021-08-28 11:44] faruktoptas commented on #212
Hi @kshitij-99,

I'm not sure that if @Kritip123 is working on this issue. You can start if his not.

[2021-08-28 11:48] kshitij-99 commented on #212
@Kritip123 are you working on this ?

[2021-08-28 15:21] Kritip123 commented on #212
@faruktoptas and @kshitij-99 I was not able to set up the codebase using Android Studio in my system. It was giving some error. So, I could not proceed further. @kshitij-99 you can proceed with the same.

[2021-08-28 22:02] kshitij-99 commented on #212
That's alright. I will picking this up now with a different account.

[2021-08-29 17:33] kshitij-99 commented on #212
@faruktoptas opened PR #225. Kindly review and merge.

[2021-09-01 05:06] Lars3n95 opened #226 "IllegalArgumentException in DecorCaptionView"
### Used FancyShowCaseView version
1.3.5
### Stacktrace
[code]

### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)

Example:
In Fragments `onCreateView` method I use the code below to show:
[code]
At the moment the crash only occured on the Surface Duo. So maybe it is something with the Dual Screen?

[2021-09-09 12:22] kshitij-99 commented on #212
Hey. Did you get a chance to review the PR ?

[2021-11-09 12:19] faruktoptas commented on #39
@yovi-ep it is available on jitpack.

[2021-11-10 02:08] davidgerka opened #229 "using closeOnTouch(true),clicking the view multiple times quickly causes problems"
when i using this setting "closeOnTouch(true)", i find a problem : Multiple quick clicks on the view will bring up multiple hidden animations

[2022-01-11 15:22] rr-akshay-dave commented on #212
Hi @faruktoptas  Can you please merge above PR and release a new version. Seems lot of folks including myself find this super helpful

[2022-01-12 21:09] faruktoptas commented on #212
Released with #225

[2022-01-12 21:09] #212 closed

[2022-01-13 17:26] rr-akshay-dave opened #230 "Ability to Add custom view above, below and on sides of focused view"
### Used FancyShowCaseView version 1.3.8

### Ability to add custom view above, below or on either sides of focused view

Example:
In Activity onCreate() method I use the code below to show:
[code]
I am unable to show custom view just above the focused view as there's no easy way to get handle. Trial and error doesn't seem to be working

[2022-01-14 11:06] faruktoptas commented on #230
Please check this example: https://github.com/faruktoptas/FancyShowCaseView/blob/efe261a9901938f6e7e23efee726387baf8c789d/app/src/main/java/me/toptas/fancyshowcasesample/MainActivity.kt?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L257

[2022-01-14 15:49] rr-akshay-dave commented on #230
@faruktoptas Thanks. I checked it out.
That sample works if a focus view is not dynamic (e.g regular view vs list item view). For focus view that is dynamic the calculations don't always work.

[2022-01-15 06:29] rr-akshay-dave commented on #212
Thanks a lot!

[2022-01-15 18:11] faruktoptas commented on #230
Calculations are done when `build()` method is called with a view. If you build your FancyShowCaseView instance after inflation of target view it should work.

[2022-01-16 05:11] rr-akshay-dave commented on #230
@faruktoptas Thanks for taking time to respond. I am doing calculations in the `.customView()` method during the build time like below
[code]

   Let me know if you see something wrong.

[2022-01-16 05:42] faruktoptas commented on #230
Can you share a screenshot to see more details about buggy behaviour.

[2022-01-16 07:35] rr-akshay-dave commented on #230
Sure.
#### Context Use case 1 :
* I created list view with 4 textviews in each list item. I am highlighting item # 5 in the list
* I am showing all 4 text views in this case. Notice how custom view is nicely on top
* Screen shot 1:
![image](https://user-images.githubusercontent.com/69540454/149651323-d9df736a-aa34-45f2-a3b3-86d9b01d7c07.png)

#### Context Use case 1 :
* I am showing only 2 text vi

[2022-01-16 07:41] rr-akshay-dave commented on #230
Btw, I appreciate you taking time to respond. I am happy to DM you on twitter or something to save time for both if that works for you.

[2022-01-18 09:23] rr-akshay-dave commented on #230
Hello @faruktoptas , just following up. Let me know if you need anything else on this from my end.

[2022-04-22 00:09] DevHisham commented on #230
i faced same issue

[2022-05-01 11:40] ligong0904 opened #232 "Problem in DialogFragment and BottomSheetDialogFragment"
When the View that needs to be highlighted is located in the DialogFragment or BottomSheetDialogFragment, the CustomView will be displayed in the lower layer of the DialogFragment or BottomSheetDialogFragment, which means that the CustomView is blocked. Can you support the scenario of DialogFragment and BottomSheetDialogFragment?

[2022-05-09 12:19] Ashmeeto4s opened #233 "Set tiltle function does not work with custom view"
### Used FancyShowCaseView version 1.3.9
if we provide custom view then title does not show -

  val fancyShowCaseView1 = FancyShowCaseView.Builder(this)
                .title("First Queue Item")
                .focusOn(btn_queue_1)
                .customView(R.layout.layout_my_custom_view, object : OnViewInflateListener {
                    override fun onViewInflated(view: View) {

[2022-05-14 10:08] miraclezg opened #234 "How to add multiple highlighted areas"
My project needs to display multiple highlighted areas at the same time. How can I add multiple highlighted areas？
that is focusOn（view） Only add one view

[2022-06-19 22:08] Pozzoooo commented on #229
Got able to reproduce it very clearly at the Sample App by using the "CUSTOM ANIMATION" button.
Gonna investigate.

[2022-06-22 13:34] Pozzoooo opened #237 "Focus on landscape has an offset"
### Used FancyShowCaseView version
Master

### Screenshot if there is something wrong with ui
![landscape](https://user-images.githubusercontent.com/5278996/175041296-a194fa4a-ee92-43b4-b187-7f0937a22d72.png)

### How you show/hide FancyShowCaseView (in Activity or Fragment, in which method)
Sample app, Rounded Rect button is the easiest to check

I've found that Presenter.getCircleCenter() has ad

[2022-09-23 05:48] haaweejee opened #238 "closeOnTouch set false make showcase skipped"
### Used FancyShowCaseView version 1.3.8

### Screenshot if there is something wrong with ui
![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/52823787/191898433-3eab2125-7035-4ab9-bc5c-46f3086887fd.png)
![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/52823787/191898440-af0a5986-2102-4bbb-8c18-764c900ec7a0.png)
![MicrosoftTeams-image (9)](https://user-imag